n8n.prod.workflow/payment.single.ZdnhFgEg.json
{
  "updatedAt": "2025-11-28T10:02:33.137Z",
  "createdAt": "2025-11-25T13:25:25.237Z",
  "id": "ZdnhFgEgdQaLudDk",
  "name": "payment.single",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg-1",
              "name": "timesheetId",
              "value": "1e72d9hBn0mqCFjZRfUeRyIr9g0Tb7jVREcZgR4PpPRY",
              "type": "string"
            },
            {
              "id": "cfg-2",
              "name": "paybotUrl",
              "value": "http://192.168.1.188:8787/api/alfa/pay",
              "type": "string"
            },
            {
              "id": "cfg-4",
              "name": "sourceAccount",
              "value": "Наши авансы",
              "type": "string"
            },
            {
              "id": "cfg-5",
              "name": "maxAmount",
              "value": 15000.01,
              "type": "number"
            },
            {
              "id": "cfg-6",
              "name": "headerRow",
              "value": 2,
              "type": "number"
            },
            {
              "id": "cfg-7",
              "name": "firstDataRow",
              "value": 3,
              "type": "number"
            },
            {
              "id": "cfg-8",
              "name": "blockSize",
              "value": 2,
              "type": "number"
            },
            {
              "id": "23b27482-818c-4125-af26-c400704f2826",
              "name": "GoogleSheetIDs",
              "value": "ПРОД:\nБау\t1aDkgVGDAaSJ7jNR99_akokXTcJKP2jCiJRT4LdX_ISo\nРазовые заказы\t1GCnwTg3a6sQNGIU3kStlmmJrCki56_vicd6-rhMbZss\nСимпл Внуково\t1iGB0hS40Ua8cpgVeQivgh7Zmu4kAW8Vguglm1DvVf0o\nСимпл Одинцово\t1iGB0hS40Ua8cpgVeQivgh7Zmu4kAW8Vguglm1DvVf0o\nХолодильник\t1kvPFxDlVhTCUbXVDLLo-wABBzVUErZUS2ra28F07UqE\nХолодильник Север\t1e72d9hBn0mqCFjZRfUeRyIr9g0Tb7jVREcZgR4PpPRY\n\nТЕСТ:\nTEST Бау 1MWrq8AyD3gqAqikO7n5AFYeTDGouwAEHT8ov8-UAnak",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "41c9f4b1-2bd0-487b-8b2d-38652045c021",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1136,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "// Определяем имя листа по текущей дате\nconst monthNames = ['янв', 'фев', 'мар', 'апр', 'май', 'июнь', 'июль', 'авг', 'сен', 'окт', 'нояб', 'дек'];\nconst now = new Date();\nconst monthRoot = monthNames[now.getMonth()];\nconst yearShort = String(now.getFullYear()).slice(-2);\nconst currentMonthSheet = `${monthRoot}_${yearShort}`;\n\n// Передаём имя листа дальше\nconst config = $('Config').first().json;\nreturn [{\n  json: {\n    ...config,\n    currentMonthSheet\n  }\n}];\n"
      },
      "id": "5cc1ff9c-70e1-4a47-87af-0fd1815dc22a",
      "name": "Prepare Sheet Name",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -912,
        192
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.timesheetId }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.currentMonthSheet }}"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange",
              "headerRow": 2,
              "firstDataRow": 3
            }
          },
          "outputFormatting": {
            "values": {
              "general": "UNFORMATTED_VALUE",
              "date": "FORMATTED_STRING"
            }
          }
        }
      },
      "id": "25c4e2f2-6548-441e-b9ed-7e670bc73272",
      "name": "Read Timesheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -688,
        192
      ],
      "credentials": {
        "googleApi": {
          "id": "4rPLRzUxumedlI2t",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ===== FIND PAYMENT =====\n// Ищем первый подходящий платёж для обработки\n\nconst config = $('Config').first().json;\nconst prepData = $('Prepare Sheet Name').first().json;\nconst rows = $input.all().map(item => item.json);\n\nconst MAX_AMOUNT = config.maxAmount || 15000;\nconst BLOCK_SIZE = config.blockSize || 2;\nconst FIRST_DATA_ROW = config.firstDataRow || 3;\n\n// Определяем название столбца текущей даты\n// Формат в таблице: \"25-нояб.\" (день-месяц.)\nconst monthNames = ['янв', 'фев', 'мар', 'апр', 'май', 'июнь', 'июль', 'авг', 'сен', 'окт', 'нояб', 'дек'];\nconst now = new Date();\nconst day = now.getDate();\nconst monthRoot = monthNames[now.getMonth()];\nconst dateColumnName = `${day}-${monthRoot}.`;\n\n// Диагностика: собираем информацию о пропущенных платежах\nconst skippedPayments = [];\n\n// Проверяем, есть ли такой столбец в данных\nif (rows.length === 0) {\n  return [{ json: { action: 'no_payment', message: 'Таблица пуста', dateColumn: dateColumnName } }];\n}\n\nconst firstRow = rows[0];\nif (!Object.prototype.hasOwnProperty.call(firstRow, dateColumnName)) {\n  return [{ json: { action: 'no_payment', message: `Столбец \"${dateColumnName}\" не найден в таблице`, dateColumn: dateColumnName } }];\n}\n\n// Сортируем строки по row_number\nconst sortedRows = rows\n  .filter(r => typeof r.row_number !== 'undefined')\n  .sort((a, b) => Number(a.row_number) - Number(b.row_number));\n\n// Функция проверки суммы на копейку (заканчивается на .01)\nfunction hasOneCent(value) {\n  if (typeof value !== 'number') return false;\n  // Проверяем, что дробная часть равна 0.01 (с учётом погрешности float)\n  const fraction = value - Math.floor(value);\n  return Math.abs(fraction - 0.01) < 0.001;\n}\n\n// Функция проверки, что значение - простое число (не формула, не маркер)\nfunction isValidPaymentValue(cellValue) {\n  if (cellValue === null || cellValue === undefined || cellValue === '') {\n    return { valid: false, reason: 'empty' };\n  }\n  \n  const strValue = String(cellValue).trim();\n  \n  // Пропускаем формулы (начинаются с =)\n  if (strValue.startsWith('=')) {\n    return { valid: false, reason: 'formula' };\n  }\n  \n  // Пропускаем маркеры обработки\n  if (strValue.startsWith('>')) {\n    return { valid: false, reason: 'in_progress' };\n  }\n  \n  if (strValue.startsWith('!')) {\n    return { valid: false, reason: 'error_marked' };\n  }\n  \n  // Пробуем распарсить как число\n  // Учитываем формат с пробелами (4 000,01) и запятой\n  const cleanValue = strValue.replace(/\\s/g, '').replace(',', '.');\n  const numValue = parseFloat(cleanValue);\n  if (isNaN(numValue)) {\n    return { valid: false, reason: 'not_a_number' };\n  }\n  \n  return { valid: true, numValue };\n}\n\n// Ищем первый подходящий платёж\nfor (const row of sortedRows) {\n  const rowNum = Number(row.row_number);\n  if (!Number.isFinite(rowNum) || rowNum < FIRST_DATA_ROW) continue;\n  \n  // Определяем позицию в блоке (0 = первая строка блока, 1 = вторая)\n  const indexInBlock = (rowNum - FIRST_DATA_ROW) % BLOCK_SIZE;\n  \n  // Нас интересует только ВТОРАЯ строка блока (индекс 1) - там начисления\n  if (indexInBlock !== 1) continue;\n  \n  // Получаем значение ячейки с суммой\n  const cellValue = row[dateColumnName];\n  const validation = isValidPaymentValue(cellValue);\n  \n  if (!validation.valid) {\n    if (validation.reason !== 'empty') {\n      skippedPayments.push({ row: rowNum, value: cellValue, reason: validation.reason });\n    }\n    continue;\n  }\n  \n  const amount = validation.numValue;\n  \n  // Проверяем максимальную сумму\n  if (amount > MAX_AMOUNT) {\n    skippedPayments.push({ row: rowNum, value: amount, reason: `amount_exceeds_max (${amount} > ${MAX_AMOUNT})` });\n    continue;\n  }\n  \n  // Проверяем наличие 1 копейки\n  if (!hasOneCent(amount)) {\n    skippedPayments.push({ row: rowNum, value: amount, reason: 'no_one_cent (сумма без .01 копейки)' });\n    continue;\n  }\n  \n  // Найден подходящий платёж!\n  // Получаем данные исполнителя из ПЕРВОЙ строки блока\n  const workerRowNum = rowNum - 1;\n  const workerRow = sortedRows.find(r => Number(r.row_number) === workerRowNum);\n  \n  if (!workerRow) {\n    skippedPayments.push({ row: rowNum, value: amount, reason: 'worker_row_not_found' });\n    continue;\n  }\n  \n  const phone = (workerRow['СБП Телефон'] || '').toString().trim();\n  const bank = (workerRow['СБП Банк'] || '').toString().trim();\n  const recipientName = (workerRow['СБП Получатель'] || '').toString().trim();\n  const workerName = (workerRow['ФИО'] || '').toString().trim();\n  const clientId = (workerRow['client_id / comments'] || '').toString().trim();\n  \n  // Проверяем наличие обязательных полей для платежа\n  if (!phone || !bank || !recipientName) {\n    const missing = [];\n    if (!phone) missing.push('СБП Телефон');\n    if (!bank) missing.push('СБП Банк');\n    if (!recipientName) missing.push('СБП Получатель');\n    skippedPayments.push({ \n      row: rowNum, \n      value: amount, \n      workerName: workerName,\n      reason: `missing_sbp_fields: ${missing.join(', ')}` \n    });\n    continue;\n  }\n  \n  // Сумма без копейки для paybot\n  const amountClean = Math.floor(amount);\n  \n  // Форматируем исходную сумму для маркера (с запятой как в RU)\n  const originalAmountStr = amount.toFixed(2).replace('.', ',');\n  \n  return [{\n    json: {\n      action: 'payment_found',\n      message: `Найден платёж: ${amountClean} руб. для ${workerName}`,\n      paymentRowNumber: rowNum,\n      workerRowNumber: workerRowNum,\n      dateColumn: dateColumnName,\n      originalAmount: amount,\n      originalAmountStr: originalAmountStr,\n      amountClean: amountClean,\n      phone: phone,\n      bank: bank,\n      recipientName: recipientName,\n      workerName: workerName,\n      clientId: clientId,\n      timesheetId: config.timesheetId,\n      currentMonthSheet: prepData.currentMonthSheet,\n      paybotUrl: config.paybotUrl,\n      paybotToken: config.paybotToken,\n      sourceAccount: config.sourceAccount\n    }\n  }];\n}\n\n// Подходящих платежей не найдено - возвращаем диагностику\nreturn [{ \n  json: { \n    action: 'no_payment', \n    message: 'Подходящих платежей не найдено',\n    dateColumn: dateColumnName,\n    skippedPayments: skippedPayments\n  } \n}];\n"
      },
      "id": "b6eefa54-b95d-46cb-91f9-b9cdf0920e20",
      "name": "Find Payment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        192
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond-payment-found",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "payment_found",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Payment Found"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond-no-payment",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "no_payment",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "No Payment"
            }
          ]
        },
        "options": {}
      },
      "id": "e4437605-f859-4008-a312-f352c5392cf0",
      "name": "Switch Payment",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -240,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "// Подготавливаем данные для Mark Cell Start\n// Формируем объект с row_number и динамической колонкой даты\nconst input = $input.first().json;\n\n// Создаём объект для обновления ячейки\nconst updateData = {\n  row_number: input.paymentRowNumber,\n  timesheetId: input.timesheetId,\n  currentMonthSheet: input.currentMonthSheet,\n  dateColumn: input.dateColumn,\n  markerValue: `>${input.originalAmountStr}`,\n  // Передаём все данные дальше\n  ...input\n};\n\n// Добавляем динамическую колонку с маркером\nupdateData[input.dateColumn] = `>${input.originalAmountStr}`;\n\nreturn [{ json: updateData }];\n"
      },
      "id": "a13c2ffb-b2bd-4dbf-909d-e4b5f60a61df",
      "name": "Prepare Mark Start",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        96
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.timesheetId }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.currentMonthSheet }}"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true
            }
          ]
        },
        "options": {
          "cellFormat": "USER_ENTERED",
          "locationDefine": {
            "values": {
              "headerRow": 2,
              "firstDataRow": 3
            }
          },
          "handlingExtraData": "ignoreIt"
        }
      },
      "id": "1abdeac4-58ef-41ee-b320-f8265b0c7367",
      "name": "Mark Cell Start",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        96
      ],
      "credentials": {
        "googleApi": {
          "id": "4rPLRzUxumedlI2t",
          "name": "Google Service Account account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Find Payment').first().json.paybotUrl }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"source_account\": \"{{ $('Find Payment').first().json.sourceAccount }}\",\n  \"phone\": \"{{ $('Find Payment').first().json.phone.replace(/[^0-9]/g, '') }}\",\n  \"bank\": \"{{ $('Find Payment').first().json.bank }}\",\n  \"recipient_name\": \"{{ $('Find Payment').first().json.recipientName }}\",\n  \"amount\": \"{{ $('Find Payment').first().json.amountClean }}\"\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "a9c0699e-dfe5-44c8-b587-dde807262e0c",
      "name": "HTTP Paybot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        432,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ar2srzN5zLPRoiVu",
          "name": "paybot - Header Auth account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// ===== PROCESS PAYBOT RESULT =====\n// Обрабатываем результат запроса к paybot\n\nconst findPaymentData = $('Find Payment').first().json;\nconst inputItem = $input.first();\nconst httpResponse = inputItem.json || {};\n\n// Проверяем, была ли ошибка HTTP запроса\n// При onError: continueErrorOutput ошибка приходит в error поле item\nconst isHttpError = inputItem.error !== undefined;\n\nlet finalCellValue;\nlet resultStatus;\nlet resultMessage;\n\nif (isHttpError) {\n  // HTTP ошибка или таймаут\n  finalCellValue = `!>${findPaymentData.originalAmountStr}`;\n  resultStatus = 'error';\n  resultMessage = `HTTP ошибка: ${inputItem.error?.message || 'Unknown error'}`;\n} else if (httpResponse.ok === true) {\n  // Успешный платёж\n  // Записываем формулу с суммой без копейки\n  finalCellValue = `=${findPaymentData.amountClean}`;\n  resultStatus = 'success';\n  resultMessage = httpResponse.message || 'Платёж выполнен успешно';\n} else {\n  // Paybot вернул ошибку (ok: false)\n  finalCellValue = `!>${findPaymentData.originalAmountStr}`;\n  resultStatus = 'error';\n  resultMessage = httpResponse.message || httpResponse.error_code || 'Ошибка paybot';\n}\n\n// Формируем объект для обновления ячейки\nconst updateData = {\n  row_number: findPaymentData.paymentRowNumber,\n  timesheetId: findPaymentData.timesheetId,\n  currentMonthSheet: findPaymentData.currentMonthSheet,\n  dateColumn: findPaymentData.dateColumn,\n  finalCellValue: finalCellValue,\n  resultStatus: resultStatus,\n  resultMessage: resultMessage,\n  paybotResponse: httpResponse,\n  // Данные для результата\n  paymentRowNumber: findPaymentData.paymentRowNumber,\n  amountClean: findPaymentData.amountClean,\n  phone: findPaymentData.phone,\n  bank: findPaymentData.bank,\n  recipientName: findPaymentData.recipientName,\n  workerName: findPaymentData.workerName,\n  clientId: findPaymentData.clientId\n};\n\n// Добавляем динамическую колонку с финальным значением\nupdateData[findPaymentData.dateColumn] = finalCellValue;\n\nreturn [{ json: updateData }];\n"
      },
      "id": "c1104086-a1b7-4ae8-b473-53d6e2400aa4",
      "name": "Process Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        0
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.timesheetId }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.currentMonthSheet }}"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true
            }
          ]
        },
        "options": {
          "cellFormat": "USER_ENTERED",
          "locationDefine": {
            "values": {
              "headerRow": 2,
              "firstDataRow": 3
            }
          },
          "handlingExtraData": "ignoreIt"
        }
      },
      "id": "ea57d56c-ddf2-430d-b6a5-cd283d067474",
      "name": "Update Cell Final",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        880,
        0
      ],
      "credentials": {
        "googleApi": {
          "id": "4rPLRzUxumedlI2t",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "res-1",
              "name": "status",
              "value": "={{ $json.resultStatus }}",
              "type": "string"
            },
            {
              "id": "res-2",
              "name": "message",
              "value": "={{ $json.resultMessage }}",
              "type": "string"
            },
            {
              "id": "res-3",
              "name": "workerName",
              "value": "={{ $json.workerName }}",
              "type": "string"
            },
            {
              "id": "res-4",
              "name": "amount",
              "value": "={{ $json.amountClean }}",
              "type": "number"
            },
            {
              "id": "res-5",
              "name": "phone",
              "value": "={{ $json.phone }}",
              "type": "string"
            },
            {
              "id": "res-6",
              "name": "bank",
              "value": "={{ $json.bank }}",
              "type": "string"
            },
            {
              "id": "res-7",
              "name": "recipientName",
              "value": "={{ $json.recipientName }}",
              "type": "string"
            },
            {
              "id": "res-8",
              "name": "clientId",
              "value": "={{ $json.clientId }}",
              "type": "string"
            },
            {
              "id": "res-9",
              "name": "dateColumn",
              "value": "={{ $json.dateColumn }}",
              "type": "string"
            },
            {
              "id": "res-10",
              "name": "rowNumber",
              "value": "={{ $json.paymentRowNumber }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "94230d58-b915-4584-9ecf-4f1f397f92b9",
      "name": "Result Payment",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "res-no-1",
              "name": "status",
              "value": "no_payment",
              "type": "string"
            },
            {
              "id": "res-no-2",
              "name": "message",
              "value": "={{ $json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b04bf086-25a4-47f1-9a91-ae2a9deb3f93",
      "name": "Result No Payment",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        288
      ]
    },
    {
      "parameters": {
        "jsCode": "// Обработка ошибки Mark Cell Start\n// Если не удалось пометить ячейку - НЕ отправляем платёж!\n// ЭТО КРИТИЧНО для защиты от двойных платежей!\n\nconst findPaymentData = $('Find Payment').first().json;\nconst inputItem = $input.first();\nconst error = inputItem.error;\n\nreturn [{\n  json: {\n    status: 'error',\n    message: `Ошибка пометки ячейки: ${error?.message || 'Не удалось обновить ячейку'}. ПЛАТЁЖ НЕ ОТПРАВЛЕН!`,\n    action: 'mark_cell_failed',\n    workerName: findPaymentData.workerName,\n    amount: findPaymentData.amountClean,\n    dateColumn: findPaymentData.dateColumn,\n    rowNumber: findPaymentData.paymentRowNumber\n  }\n}];\n"
      },
      "id": "19b31503-6077-46ee-a016-94cff22e4830",
      "name": "Handle Mark Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        192
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1360,
        192
      ],
      "id": "827641e2-f326-467c-bd4a-c58d8da4222e",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "connections": {
    "Config": {
      "main": [
        [
          {
            "node": "Prepare Sheet Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Sheet Name": {
      "main": [
        [
          {
            "node": "Read Timesheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Timesheet": {
      "main": [
        [
          {
            "node": "Find Payment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Payment": {
      "main": [
        [
          {
            "node": "Switch Payment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Payment": {
      "main": [
        [
          {
            "node": "Prepare Mark Start",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Result No Payment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Mark Start": {
      "main": [
        [
          {
            "node": "Mark Cell Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Cell Start": {
      "main": [
        [
          {
            "node": "HTTP Paybot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Mark Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Paybot": {
      "main": [
        [
          {
            "node": "Process Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Result": {
      "main": [
        [
          {
            "node": "Update Cell Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Cell Final": {
      "main": [
        [
          {
            "node": "Result Payment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "f0c3a20c-6e79-4d72-961e-3692d6505d3d",
  "versionCounter": 19,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-25T13:25:25.237Z",
      "createdAt": "2025-11-25T13:25:25.237Z",
      "role": "workflow:owner",
      "workflowId": "ZdnhFgEgdQaLudDk",
      "projectId": "9ecBn8i2373x5y5J",
      "project": {
        "updatedAt": "2025-10-26T17:58:34.883Z",
        "createdAt": "2025-10-26T12:40:35.007Z",
        "id": "9ecBn8i2373x5y5J",
        "name": "Daniil Kireev <daniilkireev@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-10-26T12:40:35.007Z",
            "createdAt": "2025-10-26T12:40:35.007Z",
            "userId": "9785043e-ebc4-4f17-a2cc-612dffe1c847",
            "projectId": "9ecBn8i2373x5y5J",
            "user": {
              "updatedAt": "2025-11-28T08:48:10.303Z",
              "createdAt": "2025-10-26T12:40:32.996Z",
              "id": "9785043e-ebc4-4f17-a2cc-612dffe1c847",
              "email": "daniilkireev@gmail.com",
              "firstName": "Daniil",
              "lastName": "Kireev",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-10-26T17:58:43.622Z",
                "personalization_survey_n8n_version": "1.116.2",
                "companyType": "personal",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "BHfD7wO4ccugwQFS",
                "userActivatedAt": 1761570680562,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1762944776385
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-11-28",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-11-24T18:19:05.614Z",
      "createdAt": "2025-11-24T18:19:05.614Z",
      "id": "skUz9UpDoIUtVLc8",
      "name": "prod"
    }
  ]
}
