n8n.prod.workflow/payment.single.alfa.json
{
  "name": "payment.single.alfa",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "payment/single/alfa",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c44e8ec6-792e-447b-92af-b35c369ae985",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "payment-single-alfa",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ilYOM2GRapefQZlh",
          "name": "router - Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg-alfa-1",
              "name": "paybotUrl",
              "value": "http://192.168.1.188:8787/api/alfa/pay",
              "type": "string"
            },
            {
              "id": "cfg-alfa-2",
              "name": "sourceAccount",
              "value": "Наши авансы",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "cd4e956c-b91d-4bf4-98c7-66a8d6414112",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json.paybotUrl }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"source_account\": \"{{ $('Config').first().json.sourceAccount }}\",\n  \"phone\": \"{{ $('Webhook').first().json.body.phone.replace(/[^0-9]/g, '') }}\",\n  \"bank\": \"{{ $('Webhook').first().json.body.bank }}\",\n  \"recipient_name\": \"{{ $('Webhook').first().json.body.recipient_name }}\",\n  \"amount\": \"{{ $('Webhook').first().json.body.amount }}\"\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "1e21a4d5-6c27-4977-b84f-a710d1665b3c",
      "name": "HTTP Paybot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        448,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ar2srzN5zLPRoiVu",
          "name": "paybot - Header Auth account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// ===== PROCESS PAYBOT RESULT =====\n// Обрабатываем результат запроса к paybot и формируем унифицированный ответ\n\nconst inputItem = $input.first();\nconst httpResponse = inputItem.json || {};\nconst webhookData = $('Webhook').first().json.body;\n\n// Проверяем, была ли ошибка HTTP запроса\nconst isHttpError = inputItem.error !== undefined;\n\nlet ok;\nlet message;\n\nif (isHttpError) {\n  // HTTP ошибка или таймаут\n  ok = false;\n  message = `HTTP ошибка: ${inputItem.error?.message || 'Unknown error'}`;\n} else if (httpResponse.ok === true) {\n  // Успешный платёж\n  ok = true;\n  message = httpResponse.message || 'Платёж выполнен успешно';\n} else {\n  // Paybot вернул ошибку (ok: false)\n  ok = false;\n  message = httpResponse.message || httpResponse.error_code || 'Ошибка paybot';\n}\n\nreturn [{\n  json: {\n    ok: ok,\n    message: message,\n    paybotResponse: httpResponse,\n    // Возвращаем данные запроса для диагностики\n    requestData: {\n      phone: webhookData.phone,\n      bank: webhookData.bank,\n      recipient_name: webhookData.recipient_name,\n      amount: webhookData.amount\n    }\n  }\n}];\n"
      },
      "id": "90177440-0155-4892-9f48-9c0e335ca27f",
      "name": "Process Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "c519f5f2-4736-4fe2-8fc1-8f9ac0d5419a",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        896,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "HTTP Paybot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Paybot": {
      "main": [
        [
          {
            "node": "Process Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Result": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cff22845-2548-445f-a289-d02f76a5bcd1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fe533e7b5b478c006fd0604461e26e5c3e4d170140f009e17eadbd88e693907b"
  },
  "id": "I7dIvsKwHo4aGCxh",
  "tags": []
}