n8n.workflow.json/payment.single.json
{
  "name": "payment.single",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "cfg-1",
              "name": "timesheetId",
              "value": "1MWrq8AyD3gqAqikO7n5AFYeTDGouwAEHT8ov8-UAnak",
              "type": "string"
            },
            {
              "id": "cfg-2",
              "name": "paybotUrl",
              "value": "http://localhost:8787/api/alfa/pay",
              "type": "string"
            },
            {
              "id": "cfg-3",
              "name": "paybotToken",
              "value": "my-secret-token",
              "type": "string"
            },
            {
              "id": "cfg-4",
              "name": "sourceAccount",
              "value": "Наши авансы",
              "type": "string"
            },
            {
              "id": "cfg-5",
              "name": "maxAmount",
              "value": 15000,
              "type": "number"
            },
            {
              "id": "cfg-6",
              "name": "headerRow",
              "value": 2,
              "type": "number"
            },
            {
              "id": "cfg-7",
              "name": "firstDataRow",
              "value": 3,
              "type": "number"
            },
            {
              "id": "cfg-8",
              "name": "blockSize",
              "value": 2,
              "type": "number"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      },
      "id": "config",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Определяем имя листа по текущей дате\nconst monthNames = ['янв', 'фев', 'мар', 'апр', 'май', 'июнь', 'июль', 'авг', 'сен', 'окт', 'нояб', 'дек'];\nconst now = new Date();\nconst monthRoot = monthNames[now.getMonth()];\nconst yearShort = String(now.getFullYear()).slice(-2);\nconst currentMonthSheet = `${monthRoot}_${yearShort}`;\n\n// Передаём имя листа дальше\nconst config = $('Config').first().json;\nreturn [{\n  json: {\n    ...config,\n    currentMonthSheet\n  }\n}];\n"
      },
      "id": "prepare-sheet-name",
      "name": "Prepare Sheet Name",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "sheet",
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.timesheetId }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.currentMonthSheet }}"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange",
              "headerRow": 2,
              "firstDataRow": 3
            }
          },
          "outputFormatting": {
            "values": {
              "general": "FORMATTED_VALUE",
              "date": "FORMATTED_VALUE"
            }
          }
        }
      },
      "id": "read-timesheet",
      "name": "Read Timesheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [660, 300],
      "credentials": {
        "googleApi": {
          "id": "4rPLRzUxumedlI2t",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// ===== FIND PAYMENT =====\n// Ищем первый подходящий платёж для обработки\n\nconst config = $('Config').first().json;\nconst prepData = $('Prepare Sheet Name').first().json;\nconst rows = $input.all().map(item => item.json);\n\nconst MAX_AMOUNT = config.maxAmount || 15000;\nconst BLOCK_SIZE = config.blockSize || 2;\nconst FIRST_DATA_ROW = config.firstDataRow || 3;\n\n// Определяем название столбца текущей даты\n// Формат в таблице: \"25-нояб.\" (день-месяц.)\nconst monthNames = ['янв', 'фев', 'мар', 'апр', 'май', 'июнь', 'июль', 'авг', 'сен', 'окт', 'нояб', 'дек'];\nconst now = new Date();\nconst day = now.getDate();\nconst monthRoot = monthNames[now.getMonth()];\nconst dateColumnName = `${day}-${monthRoot}.`;\n\n// Диагностика: собираем информацию о пропущенных платежах\nconst skippedPayments = [];\n\n// Проверяем, есть ли такой столбец в данных\nif (rows.length === 0) {\n  return [{ json: { action: 'no_payment', message: 'Таблица пуста', dateColumn: dateColumnName } }];\n}\n\nconst firstRow = rows[0];\nif (!Object.prototype.hasOwnProperty.call(firstRow, dateColumnName)) {\n  return [{ json: { action: 'no_payment', message: `Столбец \"${dateColumnName}\" не найден в таблице`, dateColumn: dateColumnName } }];\n}\n\n// Сортируем строки по row_number\nconst sortedRows = rows\n  .filter(r => typeof r.row_number !== 'undefined')\n  .sort((a, b) => Number(a.row_number) - Number(b.row_number));\n\n// Функция проверки суммы на копейку (заканчивается на .01)\nfunction hasOneCent(value) {\n  if (typeof value !== 'number') return false;\n  // Проверяем, что дробная часть равна 0.01 (с учётом погрешности float)\n  const fraction = value - Math.floor(value);\n  return Math.abs(fraction - 0.01) < 0.001;\n}\n\n// Функция проверки, что значение - простое число (не формула, не маркер)\nfunction isValidPaymentValue(cellValue) {\n  if (cellValue === null || cellValue === undefined || cellValue === '') {\n    return { valid: false, reason: 'empty' };\n  }\n  \n  const strValue = String(cellValue).trim();\n  \n  // Пропускаем формулы (начинаются с =)\n  if (strValue.startsWith('=')) {\n    return { valid: false, reason: 'formula' };\n  }\n  \n  // Пропускаем маркеры обработки\n  if (strValue.startsWith('>')) {\n    return { valid: false, reason: 'in_progress' };\n  }\n  \n  if (strValue.startsWith('!')) {\n    return { valid: false, reason: 'error_marked' };\n  }\n  \n  // Пробуем распарсить как число\n  // Учитываем формат с пробелами (4 000,01) и запятой\n  const cleanValue = strValue.replace(/\\s/g, '').replace(',', '.');\n  const numValue = parseFloat(cleanValue);\n  if (isNaN(numValue)) {\n    return { valid: false, reason: 'not_a_number' };\n  }\n  \n  return { valid: true, numValue };\n}\n\n// Ищем первый подходящий платёж\nfor (const row of sortedRows) {\n  const rowNum = Number(row.row_number);\n  if (!Number.isFinite(rowNum) || rowNum < FIRST_DATA_ROW) continue;\n  \n  // Определяем позицию в блоке (0 = первая строка блока, 1 = вторая)\n  const indexInBlock = (rowNum - FIRST_DATA_ROW) % BLOCK_SIZE;\n  \n  // Нас интересует только ВТОРАЯ строка блока (индекс 1) - там начисления\n  if (indexInBlock !== 1) continue;\n  \n  // Получаем значение ячейки с суммой\n  const cellValue = row[dateColumnName];\n  const validation = isValidPaymentValue(cellValue);\n  \n  if (!validation.valid) {\n    if (validation.reason !== 'empty') {\n      skippedPayments.push({ row: rowNum, value: cellValue, reason: validation.reason });\n    }\n    continue;\n  }\n  \n  const amount = validation.numValue;\n  \n  // Проверяем максимальную сумму\n  if (amount > MAX_AMOUNT) {\n    skippedPayments.push({ row: rowNum, value: amount, reason: `amount_exceeds_max (${amount} > ${MAX_AMOUNT})` });\n    continue;\n  }\n  \n  // Проверяем наличие 1 копейки\n  if (!hasOneCent(amount)) {\n    skippedPayments.push({ row: rowNum, value: amount, reason: 'no_one_cent (сумма без .01 копейки)' });\n    continue;\n  }\n  \n  // Найден подходящий платёж!\n  // Получаем данные исполнителя из ПЕРВОЙ строки блока\n  const workerRowNum = rowNum - 1;\n  const workerRow = sortedRows.find(r => Number(r.row_number) === workerRowNum);\n  \n  if (!workerRow) {\n    skippedPayments.push({ row: rowNum, value: amount, reason: 'worker_row_not_found' });\n    continue;\n  }\n  \n  const phone = (workerRow['СБП Телефон'] || '').toString().trim();\n  const bank = (workerRow['СБП Банк'] || '').toString().trim();\n  const recipientName = (workerRow['СБП Получатель'] || '').toString().trim();\n  const workerName = (workerRow['ФИО'] || '').toString().trim();\n  const clientId = (workerRow['client_id / comments'] || '').toString().trim();\n  \n  // Проверяем наличие обязательных полей для платежа\n  if (!phone || !bank || !recipientName) {\n    const missing = [];\n    if (!phone) missing.push('СБП Телефон');\n    if (!bank) missing.push('СБП Банк');\n    if (!recipientName) missing.push('СБП Получатель');\n    skippedPayments.push({ \n      row: rowNum, \n      value: amount, \n      workerName: workerName,\n      reason: `missing_sbp_fields: ${missing.join(', ')}` \n    });\n    continue;\n  }\n  \n  // Сумма без копейки для paybot\n  const amountClean = Math.floor(amount);\n  \n  // Форматируем исходную сумму для маркера (с запятой как в RU)\n  const originalAmountStr = amount.toFixed(2).replace('.', ',');\n  \n  return [{\n    json: {\n      action: 'payment_found',\n      message: `Найден платёж: ${amountClean} руб. для ${workerName}`,\n      paymentRowNumber: rowNum,\n      workerRowNumber: workerRowNum,\n      dateColumn: dateColumnName,\n      originalAmount: amount,\n      originalAmountStr: originalAmountStr,\n      amountClean: amountClean,\n      phone: phone,\n      bank: bank,\n      recipientName: recipientName,\n      workerName: workerName,\n      clientId: clientId,\n      timesheetId: config.timesheetId,\n      currentMonthSheet: prepData.currentMonthSheet,\n      paybotUrl: config.paybotUrl,\n      paybotToken: config.paybotToken,\n      sourceAccount: config.sourceAccount\n    }\n  }];\n}\n\n// Подходящих платежей не найдено - возвращаем диагностику\nreturn [{ \n  json: { \n    action: 'no_payment', \n    message: 'Подходящих платежей не найдено',\n    dateColumn: dateColumnName,\n    skippedPayments: skippedPayments\n  } \n}];\n"
      },
      "id": "find-payment",
      "name": "Find Payment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond-payment-found",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "payment_found",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Payment Found"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond-no-payment",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "no_payment",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "No Payment"
            }
          ]
        },
        "options": {}
      },
      "id": "switch-payment",
      "name": "Switch Payment",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Подготавливаем данные для Mark Cell Start\n// Формируем объект с row_number и динамической колонкой даты\nconst input = $input.first().json;\n\n// Создаём объект для обновления ячейки\nconst updateData = {\n  row_number: input.paymentRowNumber,\n  timesheetId: input.timesheetId,\n  currentMonthSheet: input.currentMonthSheet,\n  dateColumn: input.dateColumn,\n  markerValue: `>${input.originalAmountStr}`,\n  // Передаём все данные дальше\n  ...input\n};\n\n// Добавляем динамическую колонку с маркером\nupdateData[input.dateColumn] = `>${input.originalAmountStr}`;\n\nreturn [{ json: updateData }];\n"
      },
      "id": "prepare-mark-start",
      "name": "Prepare Mark Start",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 200]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "sheet",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.timesheetId }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.currentMonthSheet }}"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": ["row_number"],
          "schema": [
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true
            }
          ]
        },
        "options": {
          "cellFormat": "USER_ENTERED",
          "locationDefine": {
            "values": {
              "headerRow": 2,
              "firstDataRow": 3
            }
          },
          "handlingExtraData": "ignoreIt"
        }
      },
      "id": "mark-cell-start",
      "name": "Mark Cell Start",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [1540, 200],
      "credentials": {
        "googleApi": {
          "id": "4rPLRzUxumedlI2t",
          "name": "Google Service Account account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Find Payment').first().json.paybotUrl }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"source_account\": \"{{ $('Find Payment').first().json.sourceAccount }}\",\n  \"phone\": \"{{ $('Find Payment').first().json.phone.replace(/[^0-9]/g, '') }}\",\n  \"bank\": \"{{ $('Find Payment').first().json.bank }}\",\n  \"recipient_name\": \"{{ $('Find Payment').first().json.recipientName }}\",\n  \"amount\": \"{{ $('Find Payment').first().json.amountClean }}\"\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "http-paybot",
      "name": "HTTP Paybot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1760, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "paybot-header-auth",
          "name": "Paybot Header Auth"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// ===== PROCESS PAYBOT RESULT =====\n// Обрабатываем результат запроса к paybot\n\nconst findPaymentData = $('Find Payment').first().json;\nconst inputItem = $input.first();\nconst httpResponse = inputItem.json || {};\n\n// Проверяем, была ли ошибка HTTP запроса\n// При onError: continueErrorOutput ошибка приходит в error поле item\nconst isHttpError = inputItem.error !== undefined;\n\nlet finalCellValue;\nlet resultStatus;\nlet resultMessage;\n\nif (isHttpError) {\n  // HTTP ошибка или таймаут\n  finalCellValue = `!>${findPaymentData.originalAmountStr}`;\n  resultStatus = 'error';\n  resultMessage = `HTTP ошибка: ${inputItem.error?.message || 'Unknown error'}`;\n} else if (httpResponse.ok === true) {\n  // Успешный платёж\n  // Записываем формулу с суммой без копейки\n  finalCellValue = `=${findPaymentData.amountClean}`;\n  resultStatus = 'success';\n  resultMessage = httpResponse.message || 'Платёж выполнен успешно';\n} else {\n  // Paybot вернул ошибку (ok: false)\n  finalCellValue = `!>${findPaymentData.originalAmountStr}`;\n  resultStatus = 'error';\n  resultMessage = httpResponse.message || httpResponse.error_code || 'Ошибка paybot';\n}\n\n// Формируем объект для обновления ячейки\nconst updateData = {\n  row_number: findPaymentData.paymentRowNumber,\n  timesheetId: findPaymentData.timesheetId,\n  currentMonthSheet: findPaymentData.currentMonthSheet,\n  dateColumn: findPaymentData.dateColumn,\n  finalCellValue: finalCellValue,\n  resultStatus: resultStatus,\n  resultMessage: resultMessage,\n  paybotResponse: httpResponse,\n  // Данные для результата\n  paymentRowNumber: findPaymentData.paymentRowNumber,\n  amountClean: findPaymentData.amountClean,\n  phone: findPaymentData.phone,\n  bank: findPaymentData.bank,\n  recipientName: findPaymentData.recipientName,\n  workerName: findPaymentData.workerName,\n  clientId: findPaymentData.clientId\n};\n\n// Добавляем динамическую колонку с финальным значением\nupdateData[findPaymentData.dateColumn] = finalCellValue;\n\nreturn [{ json: updateData }];\n"
      },
      "id": "process-result",
      "name": "Process Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, 200]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "sheet",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.timesheetId }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.currentMonthSheet }}"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": ["row_number"],
          "schema": [
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true
            }
          ]
        },
        "options": {
          "cellFormat": "USER_ENTERED",
          "locationDefine": {
            "values": {
              "headerRow": 2,
              "firstDataRow": 3
            }
          },
          "handlingExtraData": "ignoreIt"
        }
      },
      "id": "update-cell-final",
      "name": "Update Cell Final",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [2200, 200],
      "credentials": {
        "googleApi": {
          "id": "4rPLRzUxumedlI2t",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "res-1",
              "name": "status",
              "value": "={{ $json.resultStatus }}",
              "type": "string"
            },
            {
              "id": "res-2",
              "name": "message",
              "value": "={{ $json.resultMessage }}",
              "type": "string"
            },
            {
              "id": "res-3",
              "name": "workerName",
              "value": "={{ $json.workerName }}",
              "type": "string"
            },
            {
              "id": "res-4",
              "name": "amount",
              "value": "={{ $json.amountClean }}",
              "type": "number"
            },
            {
              "id": "res-5",
              "name": "phone",
              "value": "={{ $json.phone }}",
              "type": "string"
            },
            {
              "id": "res-6",
              "name": "bank",
              "value": "={{ $json.bank }}",
              "type": "string"
            },
            {
              "id": "res-7",
              "name": "recipientName",
              "value": "={{ $json.recipientName }}",
              "type": "string"
            },
            {
              "id": "res-8",
              "name": "clientId",
              "value": "={{ $json.clientId }}",
              "type": "string"
            },
            {
              "id": "res-9",
              "name": "dateColumn",
              "value": "={{ $json.dateColumn }}",
              "type": "string"
            },
            {
              "id": "res-10",
              "name": "rowNumber",
              "value": "={{ $json.paymentRowNumber }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      },
      "id": "result-payment",
      "name": "Result Payment",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2420, 200]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "res-no-1",
              "name": "status",
              "value": "no_payment",
              "type": "string"
            },
            {
              "id": "res-no-2",
              "name": "message",
              "value": "={{ $json.message }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      },
      "id": "result-no-payment",
      "name": "Result No Payment",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1320, 400]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Обработка ошибки Mark Cell Start\n// Если не удалось пометить ячейку - НЕ отправляем платёж!\n// ЭТО КРИТИЧНО для защиты от двойных платежей!\n\nconst findPaymentData = $('Find Payment').first().json;\nconst inputItem = $input.first();\nconst error = inputItem.error;\n\nreturn [{\n  json: {\n    status: 'error',\n    message: `Ошибка пометки ячейки: ${error?.message || 'Не удалось обновить ячейку'}. ПЛАТЁЖ НЕ ОТПРАВЛЕН!`,\n    action: 'mark_cell_failed',\n    workerName: findPaymentData.workerName,\n    amount: findPaymentData.amountClean,\n    dateColumn: findPaymentData.dateColumn,\n    rowNumber: findPaymentData.paymentRowNumber\n  }\n}];\n"
      },
      "id": "handle-mark-error",
      "name": "Handle Mark Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 340]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Prepare Sheet Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Sheet Name": {
      "main": [
        [
          {
            "node": "Read Timesheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Timesheet": {
      "main": [
        [
          {
            "node": "Find Payment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Payment": {
      "main": [
        [
          {
            "node": "Switch Payment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Payment": {
      "main": [
        [
          {
            "node": "Prepare Mark Start",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Result No Payment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Mark Start": {
      "main": [
        [
          {
            "node": "Mark Cell Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Cell Start": {
      "main": [
        [
          {
            "node": "HTTP Paybot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Mark Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Paybot": {
      "main": [
        [
          {
            "node": "Process Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Result": {
      "main": [
        [
          {
            "node": "Update Cell Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Cell Final": {
      "main": [
        [
          {
            "node": "Result Payment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 300
  },
  "staticData": {},
  "pinData": {}
}
