n8n.workflow.json/worker.gs.add.execution.1223.json
[
  {
    "id": "1223",
    "finished": true,
    "mode": "webhook",
    "retryOf": null,
    "retrySuccessId": null,
    "status": "success",
    "createdAt": "2025-11-22T14:46:28.168Z",
    "startedAt": "2025-11-22T14:46:28.185Z",
    "stoppedAt": "2025-11-22T14:46:35.960Z",
    "deletedAt": null,
    "workflowId": "cQDIr8xcpJO5Dluj",
    "waitTill": null,
    "data": {
      "startData": {},
      "resultData": {
        "runData": {
          "Webhook Trigger": [
            {
              "startTime": 1763822788190,
              "executionIndex": 0,
              "source": [],
              "hints": [],
              "executionTime": 0,
              "executionStatus": "success",
              "data": {
                "main": [
                  [
                    {
                      "json": {
                        "headers": {
                          "host": "n8n.autsorsim.ru",
                          "x-real-ip": "212.46.5.133",
                          "x-forwarded-for": "212.46.5.133",
                          "x-forwarded-proto": "https",
                          "connection": "close",
                          "content-length": "769",
                          "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
                          "content-type": "application/json",
                          "x-api-key": "N8N_X_API_TOKEN_22DEE204206BEDE8",
                          "user-agent": "axios/1.12.0",
                          "accept-encoding": "gzip, compress, deflate, br"
                        },
                        "params": {},
                        "query": {},
                        "body": {
                          "dt": "22.11.2025 17:46:27",
                          "method": "worker.gs.add",
                          "intent": "registration",
                          "intent_date": "23.11.2025",
                          "client_id": "833573536",
                          "full_name": "PROC - Добавить исполнителя",
                          "phone": "79957804464",
                          "order_id": "833573536-582942145",
                          "client_type": "5",
                          "group_id": "12334",
                          "platform_id": "test_client_online",
                          "avito_order_id": "7738113964",
                          "avito_order_price": "30004000",
                          "avito_order_title": "Грузчик ПРОД склад ЕЖЕДНЕВНО оплата",
                          "avito_order_url": "https://avito.ru/123456790",
                          "avito_profile": "",
                          "labels": {
                            "1037219": "3: Паспорт",
                            "1056095": "5: 5-2",
                            "1082258": "4: Узбек",
                            "1090393": "2: Муж",
                            "1389135": "2: 25-44",
                            "1748523": "1: _ПРОД Склад"
                          },
                          "lists": {
                            "1056102": "Апрелевка",
                            "1815825": "Кокошкино"
                          }
                        },
                        "webhookUrl": "https://n8n.autsorsim.ru/webhook/worker/gs/add",
                        "executionMode": "production"
                      },
                      "pairedItem": {
                        "item": 0
                      }
                    }
                  ]
                ]
              }
            }
          ],
          "Workflow Configuration": [
            {
              "startTime": 1763822788190,
              "executionIndex": 1,
              "source": [
                {
                  "previousNode": "Webhook Trigger"
                }
              ],
              "hints": [],
              "executionTime": 1,
              "executionStatus": "success",
              "data": {
                "main": [
                  [
                    {
                      "json": {
                        "headers": {
                          "host": "n8n.autsorsim.ru",
                          "x-real-ip": "212.46.5.133",
                          "x-forwarded-for": "212.46.5.133",
                          "x-forwarded-proto": "https",
                          "connection": "close",
                          "content-length": "769",
                          "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
                          "content-type": "application/json",
                          "x-api-key": "N8N_X_API_TOKEN_22DEE204206BEDE8",
                          "user-agent": "axios/1.12.0",
                          "accept-encoding": "gzip, compress, deflate, br"
                        },
                        "params": {},
                        "query": {},
                        "body": {
                          "dt": "22.11.2025 17:46:27",
                          "method": "worker.gs.add",
                          "intent": "registration",
                          "intent_date": "23.11.2025",
                          "client_id": "833573536",
                          "full_name": "PROC - Добавить исполнителя",
                          "phone": "79957804464",
                          "order_id": "833573536-582942145",
                          "client_type": "5",
                          "group_id": "12334",
                          "platform_id": "test_client_online",
                          "avito_order_id": "7738113964",
                          "avito_order_price": "30004000",
                          "avito_order_title": "Грузчик ПРОД склад ЕЖЕДНЕВНО оплата",
                          "avito_order_url": "https://avito.ru/123456790",
                          "avito_profile": "",
                          "labels": {
                            "1037219": "3: Паспорт",
                            "1056095": "5: 5-2",
                            "1082258": "4: Узбек",
                            "1090393": "2: Муж",
                            "1389135": "2: 25-44",
                            "1748523": "1: _ПРОД Склад"
                          },
                          "lists": {
                            "1056102": "Апрелевка",
                            "1815825": "Кокошкино"
                          }
                        },
                        "webhookUrl": "https://n8n.autsorsim.ru/webhook/worker/gs/add",
                        "executionMode": "production",
                        "spreadsheetId": "1yYSPC2JVTV5a6Byoz8lO4GsrD-Nk6i8PCF68hn_7f4I",
                        "referenceSheetName": "Справочники",
                        "monthSheetNames": {
                          "0": "янв_25",
                          "1": "фев_25",
                          "2": "мар_25",
                          "3": "апр_25",
                          "4": "май_25",
                          "5": "июнь_25",
                          "6": "июль_25",
                          "7": "авг_25",
                          "8": "сен_25",
                          "9": "окт_25",
                          "10": "нояб_25",
                          "11": "дек_25"
                        },
                        "workerFioColumnName": "ФИО",
                        "workerClientColumnName": "client_id / comments",
                        "workerPhoneColumnName": "Телефон / карта",
                        "workerTagsColumnName": "tags",
                        "workerBlockSize": 2,
                        "workerFirstDataRow": 3
                      },
                      "pairedItem": {
                        "item": 0
                      }
                    }
                  ]
                ]
              }
            }
          ],
          "Get Projects from Справочники": [
            {
              "startTime": 1763822788191,
              "executionIndex": 2,
              "source": [
                {
                  "previousNode": "Workflow Configuration"
                }
              ],
              "hints": [],
              "executionTime": 2231,
              "executionStatus": "success",
              "data": {
                "main": [
                  [
                    {
                      "json": {
                        "row_number": 2,
                        "Проекты": "_ПРОД Склад",
                        "Табель": "1OQZo-n54wMhKzSM7LB4UYJSQSBJMzbc-BhbJMh1X2Ws",
                        "Специализация": "_Любая специализация",
                        "Тип объекта": "_Шаблон",
                        "Частота сверок и оплат": "Сверка 1 раз в месяц, оплата 1 раз в месяц",
                        "Время заведения на объект - День": "В тот же день (любой день)",
                        "Время заведения на объект - Ночь": "В тот же вечер (любой день)",
                        "Гражданство": "ЕАЭС",
                        "Города": "Апрелевка"
                      },
                      "pairedItem": {
                        "item": 0
                      }
                    },
                    {
                      "json": {
                        "row_number": 3,
                        "Проекты": "_ТЕСТ Склад",
                        "Табель": "",
                        "Специализация": "_ПРОД Грузчик",
                        "Тип объекта": "Административное здание и территория",
                        "Частота сверок и оплат": "Сверка 2 раза в месяц, оплата 1 раз в месяц",
                        "Время заведения на объект - День": "В тот же день, кроме выходных",
                        "Время заведения на объект - Ночь": "В тот же вечер, кроме выходных",
                        "Гражданство": "РФ",
                        "Города": "Балашиха"
                      },
                      "pairedItem": {
                        "item": 0
                      }
                    },
                    {
                      "json": {
                        "row_number": 4,
                        "Проекты": "_Шаблон",
                        "Табель": "",
                        "Специализация": "_ТЕСТ Грузчик",
                        "Тип объекта": "Офис",
                        "Частота сверок и оплат": "Сверка 2 раза в месяц, оплата 2 раза в месяц",
                        "Время заведения на объект - День": "На следующий день",
                        "Время заведения на объект - Ночь": "Утром оформление (кроме выходных), вечером выход",
                        "Гражданство": "РФ / РБ",
                        "Города": "Бронницы"
                      },
                      "pairedItem": {
                        "item": 0
                      }
                    },
                    {
                      "json": {
                        "row_number": 5,
                        "Проекты": "Албес",
                        "Табель": "",
                        "Специализация": "_Шаблон",
                        "Тип объекта": "Производство",
                        "Частота сверок и оплат": "",
                        "Время заведения на объект - День": "",
                        "Время заведения на объект - Ночь": "",
                        "Гражданство": "СНГ",
                        "Города": "Видное"
                      },
                      "pairedItem": {
                        "item": 0
                      }
                    },
                    {
                      "json": {
                        "row_number": 6,
                        "Проекты": "Бау",
                        "Табель": "1aDkgVGDAaSJ7jNR99_akokXTcJKP2jCiJRT4LdX_ISo",
                        "Специализация": "Водитель погрузчика",
                        "Тип объекта": "Производство кондитерских изделий",
                        "Частота сверок и оплат": "",
                        "Время заведения на объект - День": "",
                        "Время заведения на объект - Ночь": "",
                        "Гражданство": "",
                        "Города": "Дмитров"
                      },
                      "pairedItem": {
                        "item": 0
                      }
                    },
                    {
                      "json": {
                        "row_number": 7,
                        "Проекты": "Заповедные продукты",
                        "Табель": "",
                        "Специализация": "Грузчик",
                        "Тип объекта": "Производство мясных изделий",
                        "Частота сверок и оплат": "",
                        "Время заведения на объект - День": "",
                        "Время заведения на объект - Ночь": "",
                        "Гражданство": "",
                        "Города": "Домодедово"
                      },
                      "pairedItem": {
                        "item": 0
                      }
                    },
                    {
                      "json": {
                        "row_number": 8,
                        "Проекты": "ИззиХоум",
                        "Табель": "",
                        "Специализация": "Дворник",
                        "Тип объекта": "Распределительный центр",
                        "Частота сверок и оплат": "",
                        "Время заведения на объект - День": "",
                        "Время заведения на объект - Ночь": "",
                        "Гражданство": "",
                        "Города": "Жуковский"
                      },
                      "pairedItem": {
                        "item": 0
                      }
                    },
                    {
                      "json": {
                        "row_number": 9,
                        "Проекты": "Компьютролс",
                        "Табель": "",
                        "Специализация": "Кладовщик",
                        "Тип объекта": "Склад",
                        "Частота сверок и оплат": "",
                        "Время заведения на объект - День": "",
                        "Время заведения на объект - Ночь": "",
                        "Гражданство": "",
                        "Города": "Люберцы"
                      },
                      "pairedItem": {
                        "item": 0
                      }
                    },
                    {
                      "json": {
                        "row_number": 10,
                        "Проекты": "ЛМ СЗ",
                        "Табель": "",
                        "Специализация": "Комплектовщик",
                        "Тип объекта": "Склад автозапчастей",
                        "Частота сверок и оплат": "",
                        "Время заведения на объект - День": "",
                        "Время заведения на объект - Ночь": "",
                        "Гражданство": "",
                        "Города": "Подольск"
                      },
                      "pairedItem": {
                        "item": 0
                      }
                    },
                    {
                      "json": {
                        "row_number": 11,
                        "Проекты": "ЛМ ЮВ",
                        "Табель": "",
                        "Специализация": "Комплектовщик с ТСД",
                        "Тип объекта": "Склад алкоголя",
                        "Частота сверок и оплат": "",
                        "Время заведения на объект - День": "",
                        "Время заведения на объект - Ночь": "",
                        "Гражданство": "",
                        "Города": "Раменское"
                      },
                      "pairedItem": {
                        "item": 0
                      }
                    },
                    {
                      "json": {
                        "row_number": 12,
                        "Проекты": "Перфетти",
                        "Табель": "",
                        "Специализация": "Оператор производственной линии",
                        "Тип объекта": "Склад мебели",
                        "Частота сверок и оплат": "",
                        "Время заведения на объект - День": "",
                        "Время заведения на объект - Ночь": "",
                        "Гражданство": "",
                        "Города": "Троицк"
                      },
                      "pairedItem": {
                        "item": 0
                      }
                    },
                    {
                      "json": {
                        "row_number": 13,
                        "Проекты": "Разовые заказы",
                        "Табель": "1GCnwTg3a6sQNGIU3kStlmmJrCki56_vicd6-rhMbZss",
                        "Специализация": "Разнорабочий",
                        "Тип объекта": "Склад сантехники",
                        "Частота сверок и оплат": "",
                        "Время заведения на объект - День": "",
                        "Время заведения на объект - Ночь": "",
                        "Гражданство": "",
                        "Города": "Тула"
                      },
                      "pairedItem": {
                        "item": 0
                      }
                    },
                    {
                      "json": {
                        "row_number": 14,
                        "Проекты": "Симпл Внуково",
                        "Табель": "1iGB0hS40Ua8cpgVeQivgh7Zmu4kAW8Vguglm1DvVf0o",
                        "Специализация": "Специалист технической поддержки",
                        "Тип объекта": "Склад электроники",
                        "Частота сверок и оплат": "",
                        "Время заведения на объект - День": "",
                        "Время заведения на объект - Ночь": "",
                        "Гражданство": "",
                        "Города": "Чехов"
                      },
                      "pairedItem": {
                        "item": 0
                      }
                    },
                    {
                      "json": {
                        "row_number": 15,
                        "Проекты": "Симпл Одинцово",
                        "Табель": "1iGB0hS40Ua8cpgVeQivgh7Zmu4kAW8Vguglm1DvVf0o",
                        "Специализация": "Уборщик",
                        "Тип объекта": "",
                        "Частота сверок и оплат": "",
                        "Время заведения на объект - День": "",
                        "Время заведения на объект - Ночь": "",
                        "Гражданство": "",
                        "Города": "Щербинка"
                      },
                      "pairedItem": {
                        "item": 0
                      }
                    },
                    {
                      "json": {
                        "row_number": 16,
                        "Проекты": "Снежная Королева",
                        "Табель": "",
                        "Специализация": "",
                        "Тип объекта": "",
                        "Частота сверок и оплат": "",
                        "Время заведения на объект - День": "",
                        "Время заведения на объект - Ночь": "",
                        "Гражданство": "",
                        "Города": ""
                      },
                      "pairedItem": {
                        "item": 0
                      }
                    },
                    {
                      "json": {
                        "row_number": 17,
                        "Проекты": "Сурская мебель",
                        "Табель": "",
                        "Специализация": "",
                        "Тип объекта": "",
                        "Частота сверок и оплат": "",
                        "Время заведения на объект - День": "",
                        "Время заведения на объект - Ночь": "",
                        "Гражданство": "",
                        "Города": ""
                      },
                      "pairedItem": {
                        "item": 0
                      }
                    },
                    {
                      "json": {
                        "row_number": 18,
                        "Проекты": "ТехноСервис",
                        "Табель": "",
                        "Специализация": "",
                        "Тип объекта": "",
                        "Частота сверок и оплат": "",
                        "Время заведения на объект - День": "",
                        "Время заведения на объект - Ночь": "",
                        "Гражданство": "",
                        "Города": ""
                      },
                      "pairedItem": {
                        "item": 0
                      }
                    },
                    {
                      "json": {
                        "row_number": 19,
                        "Проекты": "УСЗН",
                        "Табель": "",
                        "Специализация": "",
                        "Тип объекта": "",
                        "Частота сверок и оплат": "",
                        "Время заведения на объект - День": "",
                        "Время заведения на объект - Ночь": "",
                        "Гражданство": "",
                        "Города": ""
                      },
                      "pairedItem": {
                        "item": 0
                      }
                    },
                    {
                      "json": {
                        "row_number": 20,
                        "Проекты": "Фаворит Авто",
                        "Табель": "",
                        "Специализация": "",
                        "Тип объекта": "",
                        "Частота сверок и оплат": "",
                        "Время заведения на объект - День": "",
                        "Время заведения на объект - Ночь": "",
                        "Гражданство": "",
                        "Города": ""
                      },
                      "pairedItem": {
                        "item": 0
                      }
                    },
                    {
                      "json": {
                        "row_number": 21,
                        "Проекты": "Форум Авто",
                        "Табель": "",
                        "Специализация": "",
                        "Тип объекта": "",
                        "Частота сверок и оплат": "",
                        "Время заведения на объект - День": "",
                        "Время заведения на объект - Ночь": "",
                        "Гражданство": "",
                        "Города": ""
                      },
                      "pairedItem": {
                        "item": 0
                      }
                    },
                    {
                      "json": {
                        "row_number": 22,
                        "Проекты": "Холодильник",
                        "Табель": "1kvPFxDlVhTCUbXVDLLo-wABBzVUErZUS2ra28F07UqE",
                        "Специализация": "",
                        "Тип объекта": "",
                        "Частота сверок и оплат": "",
                        "Время заведения на объект - День": "",
                        "Время заведения на объект - Ночь": "",
                        "Гражданство": "",
                        "Города": ""
                      },
                      "pairedItem": {
                        "item": 0
                      }
                    },
                    {
                      "json": {
                        "row_number": 23,
                        "Проекты": "Холодильник Север",
                        "Табель": "1e72d9hBn0mqCFjZRfUeRyIr9g0Tb7jVREcZgR4PpPRY",
                        "Специализация": "",
                        "Тип объекта": "",
                        "Частота сверок и оплат": "",
                        "Время заведения на объект - День": "",
                        "Время заведения на объект - Ночь": "",
                        "Гражданство": "",
                        "Города": ""
                      },
                      "pairedItem": {
                        "item": 0
                      }
                    },
                    {
                      "json": {
                        "row_number": 24,
                        "Проекты": "ЦМД ИТ",
                        "Табель": "",
                        "Специализация": "",
                        "Тип объекта": "",
                        "Частота сверок и оплат": "",
                        "Время заведения на объект - День": "",
                        "Время заведения на объект - Ночь": "",
                        "Гражданство": "",
                        "Города": ""
                      },
                      "pairedItem": {
                        "item": 0
                      }
                    },
                    {
                      "json": {
                        "row_number": 25,
                        "Проекты": "ЦМД листья",
                        "Табель": "",
                        "Специализация": "",
                        "Тип объекта": "",
                        "Частота сверок и оплат": "",
                        "Время заведения на объект - День": "",
                        "Время заведения на объект - Ночь": "",
                        "Гражданство": "",
                        "Города": ""
                      },
                      "pairedItem": {
                        "item": 0
                      }
                    },
                    {
                      "json": {
                        "row_number": 26,
                        "Проекты": "ЦМД снег",
                        "Табель": "",
                        "Специализация": "",
                        "Тип объекта": "",
                        "Частота сверок и оплат": "",
                        "Время заведения на объект - День": "",
                        "Время заведения на объект - Ночь": "",
                        "Гражданство": "",
                        "Города": ""
                      },
                      "pairedItem": {
                        "item": 0
                      }
                    },
                    {
                      "json": {
                        "row_number": 27,
                        "Проекты": "Черкизово",
                        "Табель": "",
                        "Специализация": "",
                        "Тип объекта": "",
                        "Частота сверок и оплат": "",
                        "Время заведения на объект - День": "",
                        "Время заведения на объект - Ночь": "",
                        "Гражданство": "",
                        "Города": ""
                      },
                      "pairedItem": {
                        "item": 0
                      }
                    }
                  ]
                ]
              }
            }
          ],
          "Extract Project Names and Match Timesheet IDs": [
            {
              "startTime": 1763822790422,
              "executionIndex": 3,
              "source": [
                {
                  "previousNode": "Get Projects from Справочники"
                }
              ],
              "hints": [],
              "executionTime": 13,
              "executionStatus": "success",
              "data": {
                "main": [
                  [
                    {
                      "json": {
                        "client_id": "833573536",
                        "full_name": "PROC - Добавить исполнителя",
                        "phone": "79957804464",
                        "labels": [
                          "3: Паспорт",
                          "5: 5-2",
                          "4: Узбек",
                          "2: Муж",
                          "2: 25-44",
                          "1: _ПРОД Склад"
                        ],
                        "projectName": "_ПРОД Склад",
                        "timesheetId": "1OQZo-n54wMhKzSM7LB4UYJSQSBJMzbc-BhbJMh1X2Ws"
                      }
                    }
                  ]
                ]
              }
            }
          ],
          "Process Each Timesheet": [
            {
              "startTime": 1763822790435,
              "executionIndex": 4,
              "source": [
                {
                  "previousNode": "Extract Project Names and Match Timesheet IDs"
                }
              ],
              "hints": [],
              "executionTime": 7,
              "executionStatus": "success",
              "data": {
                "main": [
                  [
                    {
                      "json": {
                        "client_id": "833573536",
                        "full_name": "PROC - Добавить исполнителя",
                        "phone": "79957804464",
                        "labels": [
                          "3: Паспорт",
                          "5: 5-2",
                          "4: Узбек",
                          "2: Муж",
                          "2: 25-44",
                          "1: _ПРОД Склад"
                        ],
                        "projectName": "_ПРОД Склад",
                        "timesheetId": "1OQZo-n54wMhKzSM7LB4UYJSQSBJMzbc-BhbJMh1X2Ws",
                        "currentMonthSheet": "нояб_25"
                      },
                      "pairedItem": {
                        "item": 0
                      }
                    }
                  ]
                ]
              }
            }
          ],
          "Read Timesheet": [
            {
              "startTime": 1763822790443,
              "executionIndex": 5,
              "source": [
                {
                  "previousNode": "Process Each Timesheet"
                }
              ],
              "hints": [],
              "executionTime": 2236,
              "executionStatus": "success",
              "data": {
                "main": [
                  [
                    {
                      "json": {
                        "row_number": 3,
                        "№": 1,
                        "Статус": "н",
                        "ФИО": "ТЕСТ",
                        "Телефон / карта": 79957804464,
                        "client_id / comments": 833573588,
                        "Паспорт / ИНН": 404427284,
                        "tags": "3: Паспорт, 5: 5-2, 4: Узбек, 2: Муж, 2: 25-44, 1: _ПРОД Склад",
                        "СБП Телефон": 79160910446,
                        "СБП Банк": "Сбербанк",
                        "СБП Получатель": "Шарифджон Илхомджонович В.",
                        "Нач / обед": "21:00",
                        "Окон": "09:00",
                        "Пер": 1,
                        "Часов / Ставка": 11,
                        "1-нояб.": 11,
                        "2-нояб.": 11,
                        "3-нояб.": 11,
                        "4-нояб.": 11,
                        "5-нояб.": 11,
                        "6-нояб.": 11,
                        "7-нояб.": 11,
                        "8-нояб.": 11,
                        "9-нояб.": 11,
                        "10-нояб.": 11,
                        "11-нояб.": 11,
                        "12-нояб.": "В*",
                        "13-нояб.": 11,
                        "14-нояб.": 11,
                        "15-нояб.": 11,
                        "16-нояб.": 11,
                        "17-нояб.": "Н11",
                        "18-нояб.": "Н11",
                        "19-нояб.": "Н11",
                        "20-нояб.": "Н+",
                        "21-нояб.": "Н*",
                        "22-нояб.": "Н*",
                        "23-нояб.": "Н*",
                        "24-нояб.": "",
                        "25-нояб.": "",
                        "26-нояб.": "",
                        "27-нояб.": "",
                        "28-нояб.": "",
                        "29-нояб.": "",
                        "30-нояб.": "",
                        "1-дек.": "",
                        "2-дек.": "",
                        "3-дек.": "",
                        "4-дек.": "",
                        "5-дек.": "",
                        "6-дек.": "",
                        "7-дек.": "",
                        "Расчет\n(пред мес)": "",
                        "Отраб. час / выпл. аванс": 165,
                        "ИТОГО к оплате": "Вт"
                      },
                      "pairedItem": {
                        "item": 0
                      }
                    },
                    {
                      "json": {
                        "row_number": 4,
                        "№": 1,
                        "Статус": "",
                        "ФИО": "",
                        "Телефон / карта": "<СБП реквизиты>",
                        "client_id / comments": "",
                        "Паспорт / ИНН": "Таджик",
                        "tags": "24",
                        "СБП Телефон": "",
                        "СБП Банк": "",
                        "СБП Получатель": "",
                        "Нач / обед": "",
                        "Окон": "",
                        "Пер": "",
                        "Часов / Ставка": 4600,
                        "1-нояб.": "",
                        "2-нояб.": "",
                        "3-нояб.": "",
                        "4-нояб.": "",
                        "5-нояб.": 7000,
                        "6-нояб.": 2200,
                        "7-нояб.": "",
                        "8-нояб.": "",
                        "9-нояб.": "",
                        "10-нояб.": "",
                        "11-нояб.": 15000,
                        "12-нояб.": 15000,
                        "13-нояб.": 2200,
                        "14-нояб.": "",
                        "15-нояб.": "",
                        "16-нояб.": "",
                        "17-нояб.": "",
                        "18-нояб.": 15000,
                        "19-нояб.": 12600,
                        "20-нояб.": "",
                        "21-нояб.": "",
                        "22-нояб.": "",
                        "23-нояб.": "",
                        "24-нояб.": "",
                        "25-нояб.": "",
                        "26-нояб.": "",
                        "27-нояб.": "",
                        "28-нояб.": "",
                        "29-нояб.": "",
                        "30-нояб.": "",
                        "1-дек.": "",
                        "2-дек.": "",
                        "3-дек.": "",
                        "4-дек.": "",
                        "5-дек.": "",
                        "6-дек.": "",
                        "7-дек.": "",
                        "Расчет\n(пред мес)": "",
                        "Отраб. час / выпл. аванс": 69000,
                        "ИТОГО к оплате": 0,
                        "Деп накоп прош мес дата / руб": "",
                        "Депозит тек мес дата / руб": "",
                        "Деп списан тек мес дата / руб": "",
                        "Деп выпл тек мес дата / руб": "",
                        "ВнеРеализ, руб": 0
                      },
                      "pairedItem": {
                        "item": 0
                      }
                    },
                    {
                      "json": {
                        "row_number": 5,
                        "№": 2,
                        "Статус": "н",
                        "ФИО": "Мавлянов Мироншох Азимович",
                        "Телефон / карта": 998936894500,
                        "client_id / comments": 809958497,
                        "Паспорт / ИНН": "FA4267279",
                        "tags": "Комплектовщик Ночь",
                        "СБП Телефон": 79364444500,
                        "СБП Банк": "Сбербанк",
                        "СБП Получатель": "Мироншох Азимович М.",
                        "Нач / обед": "21:00",
                        "Окон": "09:00",
                        "Пер": 1,
                        "Часов / Ставка": 11,
                        "1-нояб.": 11,
                        "2-нояб.": "В*",
                        "3-нояб.": 11,
                        "4-нояб.": 11,
                        "5-нояб.": 11,
                        "6-нояб.": 10,
                        "7-нояб.": 11,
                        "8-нояб.": 11,
                        "9-нояб.": "В*",
                        "10-нояб.": 11,
                        "11-нояб.": 11,
                        "12-нояб.": 11,
                        "13-нояб.": 11,
                        "14-нояб.": 11,
                        "15-нояб.": 11,
                        "16-нояб.": "В*",
                        "17-нояб.": "Н11",
                        "18-нояб.": "Н11",
                        "19-нояб.": "Н11",
                        "20-нояб.": "Н+",
                        "21-нояб.": "Н*",
                        "22-нояб.": "Н*",
                        "23-нояб.": "В*",
                        "24-нояб.": "",
                        "25-нояб.": "",
                        "26-нояб.": "",
                        "27-нояб.": "",
                        "28-нояб.": "",
                        "29-нояб.": "",
                        "30-нояб.": "",
                        "1-дек.": "",
                        "2-дек.": "",
                        "3-дек.": "",
                        "4-дек.": "",
                        "5-дек.": "",
                        "6-дек.": "",
                        "7-дек.": "",
                        "Расчет\n(пред мес)": "",
                        "Отраб. час / выпл. аванс": 142,
                        "ИТОГО к оплате": "Вт"
                      },
                      "pairedItem": {
                        "item": 0
                      }
                    },
                    {
                      "json": {
                        "row_number": 6,
                        "№": 2,
                        "Статус": "",
                        "ФИО": "",
                        "Телефон / карта": "<СБП реквизиты>",
                        "client_id / comments": "",
                        "Паспорт / ИНН": "Узбек",
                        "tags": "28",
                        "СБП Телефон": "",
                        "СБП Банк": "",
                        "СБП Получатель": "",
                        "Нач / обед": "",
                        "Окон": "",
                        "Пер": "",
                        "Часов / Ставка": 4600,
                        "1-нояб.": "",
                        "2-нояб.": "",
                        "3-нояб.": "",
                        "4-нояб.": "",
                        "5-нояб.": 4600,
                        "6-нояб.": "",
                        "7-нояб.": "",
                        "8-нояб.": "",
                        "9-нояб.": "",
                        "10-нояб.": "",
                        "11-нояб.": 15000,
                        "12-нояб.": 12182,
                        "13-нояб.": "",
                        "14-нояб.": "",
                        "15-нояб.": "",
                        "16-нояб.": "",
                        "17-нояб.": "",
                        "18-нояб.": 15000,
                        "19-нояб.": 12600,
                        "20-нояб.": "",
                        "21-нояб.": "",
                        "22-нояб.": "",
                        "23-нояб.": "",
                        "24-нояб.": "",
                        "25-нояб.": "",
                        "26-нояб.": "",
                        "27-нояб.": "",
                        "28-нояб.": "",
                        "29-нояб.": "",
                        "30-нояб.": "",
                        "1-дек.": "",
                        "2-дек.": "",
                        "3-дек.": "",
                        "4-дек.": "",
                        "5-дек.": "",
                        "6-дек.": "",
                        "7-дек.": "",
                        "Расчет\n(пред мес)": "",
                        "Отраб. час / выпл. аванс": 59382,
                        "ИТОГО к оплате": -0.18181818182347342,
                        "Деп накоп прош мес дата / руб": "",
                        "Депозит тек мес дата / руб": "",
                        "Деп списан тек мес дата / руб": "",
                        "Деп выпл тек мес дата / руб": "",
                        "ВнеРеализ, руб": 0
                      },
                      "pairedItem": {
                        "item": 0
                      }
                    },
                    {
                      "json": {
                        "row_number": 7,
                        "№": 3,
                        "Статус": "д",
                        "ФИО": "Аллаберганов Руслонбек Рузинбоевич",
                        "Телефон / карта": 79060878794,
                        "client_id / comments": 818262408,
                        "Паспорт / ИНН": "FA6771213",
                        "tags": "Комлпектовщик День",
                        "СБП Телефон": 79060878794,
                        "СБП Банк": "Сбербанк",
                        "СБП Получатель": "Руслонбек Рузимбоевич А.",
                        "Нач / обед": "09:00",
                        "Окон": "21:00",
                        "Пер": 1,
                        "Часов / Ставка": 11,
                        "1-нояб.": 11,
                        "2-нояб.": 11,
                        "3-нояб.": 11,
                        "4-нояб.": 11,
                        "5-нояб.": 11,
                        "6-нояб.": 11,
                        "7-нояб.": 11,
                        "8-нояб.": 11,
                        "9-нояб.": 11,
                        "10-нояб.": 11,
                        "11-нояб.": 11,
                        "12-нояб.": 11,
                        "13-нояб.": 11,
                        "14-нояб.": 11,
                        "15-нояб.": 11,
                        "16-нояб.": 11,
                        "17-нояб.": "Д11",
                        "18-нояб.": "Д11",
                        "19-нояб.": "Д11",
                        "20-нояб.": "Д1",
                        "21-нояб.": "Д*?",
                        "22-нояб.": "Д*",
                        "23-нояб.": "Д*",
                        "24-нояб.": "",
                        "25-нояб.": "",
                        "26-нояб.": "",
                        "27-нояб.": "",
                        "28-нояб.": "",
                        "29-нояб.": "",
                        "30-нояб.": "",
                        "1-дек.": "",
                        "2-дек.": "",
                        "3-дек.": "",
                        "4-дек.": "",
                        "5-дек.": "",
                        "6-дек.": "",
                        "7-дек.": "",
                        "Расчет\n(пред мес)": "",
                        "Отраб. час / выпл. аванс": 176,
                        "ИТОГО к оплате": "Вт"
                      },
                      "pairedItem": {
                        "item": 0
                      }
                    },
                    {
                      "json": {
                        "row_number": 8,
                        "№": 3,
                        "Статус": "",
                        "ФИО": "",
                        "Телефон / карта": "<СБП реквизиты>",
                        "client_id / comments": "",
                        "Паспорт / ИНН": "Узбек",
                        "tags": "38",
                        "СБП Телефон": "",
                        "СБП Банк": "",
                        "СБП Получатель": "",
                        "Нач / обед": "",
                        "Окон": "",
                        "Пер": "",
                        "Часов / Ставка": 4600,
                        "1-нояб.": "",
                        "2-нояб.": "",
                        "3-нояб.": "",
                        "4-нояб.": "",
                        "5-нояб.": 7000,
                        "6-нояб.": 2200,
                        "7-нояб.": "",
                        "8-нояб.": "",
                        "9-нояб.": "",
                        "10-нояб.": "",
                        "11-нояб.": 15000,
                        "12-нояб.": 15000,
                        "13-нояб.": 2200,
                        "14-нояб.": "",
                        "15-нояб.": "",
                        "16-нояб.": "",
                        "17-нояб.": "",
                        "18-нояб.": 15000,
                        "19-нояб.": 15000,
                        "20-нояб.": 2200,
                        "21-нояб.": "",
                        "22-нояб.": "",
                        "23-нояб.": "",
                        "24-нояб.": "",
                        "25-нояб.": "",
                        "26-нояб.": "",
                        "27-нояб.": "",
                        "28-нояб.": "",
                        "29-нояб.": "",
                        "30-нояб.": "",
                        "1-дек.": "",
                        "2-дек.": "",
                        "3-дек.": "",
                        "4-дек.": "",
                        "5-дек.": "",
                        "6-дек.": "",
                        "7-дек.": "",
                        "Расчет\n(пред мес)": "",
                        "Отраб. час / выпл. аванс": 73600,
                        "ИТОГО к оплате": 0,
                        "Деп накоп прош мес дата / руб": "",
                        "Депозит тек мес дата / руб": "",
                        "Деп списан тек мес дата / руб": "",
                        "Деп выпл тек мес дата / руб": "",
                        "ВнеРеализ, руб": 0,
                        "col_60": "",
                        "Комментарий": "curl -X POST \"http://localhost:8787/api/alfa/pay\" -H \"Content-Type: application/json\" -H \"X-Auth-Token: my-secret-token\" -d '{\"source_account\": \"Наши авансы\", \"phone\": \"79060878794\", \"bank\": \"Сбербанк\", \"recipient_name\": \"Руслонбек Рузимбоевич А.\", \"amount\": \"2200\"}'"
                      },
                      "pairedItem": {
                        "item": 0
                      }
                    },
                    {
                      "json": {
                        "row_number": 9,
                        "№": "",
                        "Статус": "",
                        "ФИО": "",
                        "Телефон / карта": "",
                        "client_id / comments": "",
                        "Паспорт / ИНН": "",
                        "tags": "",
                        "СБП Телефон": "",
                        "СБП Банк": "",
                        "СБП Получатель": "",
                        "Нач / обед": "",
                        "Окон": "",
                        "Пер": "",
                        "Часов / Ставка": 0,
                        "1-нояб.": "",
                        "2-нояб.": "",
                        "3-нояб.": "",
                        "4-нояб.": "",
                        "5-нояб.": "",
                        "6-нояб.": "",
                        "7-нояб.": "",
                        "8-нояб.": "",
                        "9-нояб.": "",
                        "10-нояб.": "",
                        "11-нояб.": "",
                        "12-нояб.": "",
                        "13-нояб.": "",
                        "14-нояб.": "",
                        "15-нояб.": "",
                        "16-нояб.": "",
                        "17-нояб.": "",
                        "18-нояб.": "",
                        "19-нояб.": "",
                        "20-нояб.": "",
                        "21-нояб.": "",
                        "22-нояб.": "",
                        "23-нояб.": "",
                        "24-нояб.": "",
                        "25-нояб.": "",
                        "26-нояб.": "",
                        "27-нояб.": "",
                        "28-нояб.": "",
                        "29-нояб.": "",
                        "30-нояб.": "",
                        "1-дек.": "",
                        "2-дек.": "",
                        "3-дек.": "",
                        "4-дек.": "",
                        "5-дек.": "",
                        "6-дек.": "",
                        "7-дек.": "",
                        "Расчет\n(пред мес)": "",
                        "Отраб. час / выпл. аванс": 0
                      },
                      "pairedItem": {
                        "item": 0
                      }
                    },
                    {
                      "json": {
                        "row_number": 10,
                        "№": "",
                        "Статус": "",
                        "ФИО": "",
                        "Телефон / карта": "",
                        "client_id / comments": "",
                        "Паспорт / ИНН": "",
                        "tags": "",
                        "СБП Телефон": "",
                        "СБП Банк": "",
                        "СБП Получатель": "",
                        "Нач / обед": "",
                        "Окон": "",
                        "Пер": "",
                        "Часов / Ставка": "",
                        "1-нояб.": "",
                        "2-нояб.": "",
                        "3-нояб.": "",
                        "4-нояб.": "",
                        "5-нояб.": "",
                        "6-нояб.": "",
                        "7-нояб.": "",
                        "8-нояб.": "",
                        "9-нояб.": "",
                        "10-нояб.": "",
                        "11-нояб.": "",
                        "12-нояб.": "",
                        "13-нояб.": "",
                        "14-нояб.": "",
                        "15-нояб.": "",
                        "16-нояб.": "",
                        "17-нояб.": "",
                        "18-нояб.": "",
                        "19-нояб.": "",
                        "20-нояб.": "",
                        "21-нояб.": "",
                        "22-нояб.": "",
                        "23-нояб.": "",
                        "24-нояб.": "",
                        "25-нояб.": "",
                        "26-нояб.": "",
                        "27-нояб.": "",
                        "28-нояб.": "",
                        "29-нояб.": "",
                        "30-нояб.": "",
                        "1-дек.": "",
                        "2-дек.": "",
                        "3-дек.": "",
                        "4-дек.": "",
                        "5-дек.": "",
                        "6-дек.": "",
                        "7-дек.": "",
                        "Расчет\n(пред мес)": "",
                        "Отраб. час / выпл. аванс": 0,
                        "ИТОГО к оплате": 0,
                        "Деп накоп прош мес дата / руб": "",
                        "Депозит тек мес дата / руб": "",
                        "Деп списан тек мес дата / руб": "",
                        "Деп выпл тек мес дата / руб": "",
                        "ВнеРеализ, руб": 0
                      },
                      "pairedItem": {
                        "item": 0
                      }
                    },
                    {
                      "json": {
                        "row_number": 11,
                        "№": "",
                        "Статус": "",
                        "ФИО": "",
                        "Телефон / карта": "",
                        "client_id / comments": "",
                        "Паспорт / ИНН": "",
                        "tags": "",
                        "СБП Телефон": "",
                        "СБП Банк": "",
                        "СБП Получатель": "",
                        "Нач / обед": "",
                        "Окон": "",
                        "Пер": "",
                        "Часов / Ставка": 0,
                        "1-нояб.": "",
                        "2-нояб.": "",
                        "3-нояб.": "",
                        "4-нояб.": "",
                        "5-нояб.": "",
                        "6-нояб.": "",
                        "7-нояб.": "",
                        "8-нояб.": "",
                        "9-нояб.": "",
                        "10-нояб.": "",
                        "11-нояб.": "",
                        "12-нояб.": "",
                        "13-нояб.": "",
                        "14-нояб.": "",
                        "15-нояб.": "",
                        "16-нояб.": "",
                        "17-нояб.": "",
                        "18-нояб.": "",
                        "19-нояб.": "",
                        "20-нояб.": "",
                        "21-нояб.": "",
                        "22-нояб.": "",
                        "23-нояб.": "",
                        "24-нояб.": "",
                        "25-нояб.": "",
                        "26-нояб.": "",
                        "27-нояб.": "",
                        "28-нояб.": "",
                        "29-нояб.": "",
                        "30-нояб.": "",
                        "1-дек.": "",
                        "2-дек.": "",
                        "3-дек.": "",
                        "4-дек.": "",
                        "5-дек.": "",
                        "6-дек.": "",
                        "7-дек.": "",
                        "Расчет\n(пред мес)": "",
                        "Отраб. час / выпл. аванс": 0
                      },
                      "pairedItem": {
                        "item": 0
                      }
                    },
                    {
                      "json": {
                        "row_number": 12,
                        "№": "",
                        "Статус": "",
                        "ФИО": "",
                        "Телефон / карта": "",
                        "client_id / comments": "",
                        "Паспорт / ИНН": "",
                        "tags": "",
                        "СБП Телефон": "",
                        "СБП Банк": "",
                        "СБП Получатель": "",
                        "Нач / обед": "",
                        "Окон": "",
                        "Пер": "",
                        "Часов / Ставка": "",
                        "1-нояб.": "",
                        "2-нояб.": "",
                        "3-нояб.": "",
                        "4-нояб.": "",
                        "5-нояб.": "",
                        "6-нояб.": "",
                        "7-нояб.": "",
                        "8-нояб.": "",
                        "9-нояб.": "",
                        "10-нояб.": "",
                        "11-нояб.": "",
                        "12-нояб.": "",
                        "13-нояб.": "",
                        "14-нояб.": "",
                        "15-нояб.": "",
                        "16-нояб.": "",
                        "17-нояб.": "",
                        "18-нояб.": "",
                        "19-нояб.": "",
                        "20-нояб.": "",
                        "21-нояб.": "",
                        "22-нояб.": "",
                        "23-нояб.": "",
                        "24-нояб.": "",
                        "25-нояб.": "",
                        "26-нояб.": "",
                        "27-нояб.": "",
                        "28-нояб.": "",
                        "29-нояб.": "",
                        "30-нояб.": "",
                        "1-дек.": "",
                        "2-дек.": "",
                        "3-дек.": "",
                        "4-дек.": "",
                        "5-дек.": "",
                        "6-дек.": "",
                        "7-дек.": "",
                        "Расчет\n(пред мес)": "",
                        "Отраб. час / выпл. аванс": 0,
                        "ИТОГО к оплате": 0,
                        "Деп накоп прош мес дата / руб": "",
                        "Депозит тек мес дата / руб": "",
                        "Деп списан тек мес дата / руб": "",
                        "Деп выпл тек мес дата / руб": "",
                        "ВнеРеализ, руб": 0
                      },
                      "pairedItem": {
                        "item": 0
                      }
                    },
                    {
                      "json": {
                        "row_number": 13,
                        "№": "",
                        "Статус": "",
                        "ФИО": "",
                        "Телефон / карта": "",
                        "client_id / comments": "",
                        "Паспорт / ИНН": "",
                        "tags": "",
                        "СБП Телефон": "",
                        "СБП Банк": "",
                        "СБП Получатель": "",
                        "Нач / обед": "",
                        "Окон": "",
                        "Пер": "",
                        "Часов / Ставка": 0,
                        "1-нояб.": "",
                        "2-нояб.": "",
                        "3-нояб.": "",
                        "4-нояб.": "",
                        "5-нояб.": "",
                        "6-нояб.": "",
                        "7-нояб.": "",
                        "8-нояб.": "",
                        "9-нояб.": "",
                        "10-нояб.": "",
                        "11-нояб.": "",
                        "12-нояб.": "",
                        "13-нояб.": "",
                        "14-нояб.": "",
                        "15-нояб.": "",
                        "16-нояб.": "",
                        "17-нояб.": "",
                        "18-нояб.": "",
                        "19-нояб.": "",
                        "20-нояб.": "",
                        "21-нояб.": "",
                        "22-нояб.": "",
                        "23-нояб.": "",
                        "24-нояб.": "",
                        "25-нояб.": "",
                        "26-нояб.": "",
                        "27-нояб.": "",
                        "28-нояб.": "",
                        "29-нояб.": "",
                        "30-нояб.": "",
                        "1-дек.": "",
                        "2-дек.": "",
                        "3-дек.": "",
                        "4-дек.": "",
                        "5-дек.": "",
                        "6-дек.": "",
                        "7-дек.": "",
                        "Расчет\n(пред мес)": "",
                        "Отраб. час / выпл. аванс": 0
                      },
                      "pairedItem": {
                        "item": 0
                      }
                    },
                    {
                      "json": {
                        "row_number": 14,
                        "№": "",
                        "Статус": "",
                        "ФИО": "",
                        "Телефон / карта": "",
                        "client_id / comments": "",
                        "Паспорт / ИНН": "",
                        "tags": "",
                        "СБП Телефон": "",
                        "СБП Банк": "",
                        "СБП Получатель": "",
                        "Нач / обед": "",
                        "Окон": "",
                        "Пер": "",
                        "Часов / Ставка": "",
                        "1-нояб.": "",
                        "2-нояб.": "",
                        "3-нояб.": "",
                        "4-нояб.": "",
                        "5-нояб.": "",
                        "6-нояб.": "",
                        "7-нояб.": "",
                        "8-нояб.": "",
                        "9-нояб.": "",
                        "10-нояб.": "",
                        "11-нояб.": "",
                        "12-нояб.": "",
                        "13-нояб.": "",
                        "14-нояб.": "",
                        "15-нояб.": "",
                        "16-нояб.": "",
                        "17-нояб.": "",
                        "18-нояб.": "",
                        "19-нояб.": "",
                        "20-нояб.": "",
                        "21-нояб.": "",
                        "22-нояб.": "",
                        "23-нояб.": "",
                        "24-нояб.": "",
                        "25-нояб.": "",
                        "26-нояб.": "",
                        "27-нояб.": "",
                        "28-нояб.": "",
                        "29-нояб.": "",
                        "30-нояб.": "",
                        "1-дек.": "",
                        "2-дек.": "",
                        "3-дек.": "",
                        "4-дек.": "",
                        "5-дек.": "",
                        "6-дек.": "",
                        "7-дек.": "",
                        "Расчет\n(пред мес)": "",
                        "Отраб. час / выпл. аванс": 0,
                        "ИТОГО к оплате": 0,
                        "Деп накоп прош мес дата / руб": "",
                        "Депозит тек мес дата / руб": "",
                        "Деп списан тек мес дата / руб": "",
                        "Деп выпл тек мес дата / руб": "",
                        "ВнеРеализ, руб": 0
                      },
                      "pairedItem": {
                        "item": 0
                      }
                    },
                    {
                      "json": {
                        "row_number": 15,
                        "№": "",
                        "Статус": "",
                        "ФИО": "",
                        "Телефон / карта": "",
                        "client_id / comments": "",
                        "Паспорт / ИНН": "",
                        "tags": "",
                        "СБП Телефон": "",
                        "СБП Банк": "",
                        "СБП Получатель": "",
                        "Нач / обед": "",
                        "Окон": "",
                        "Пер": "",
                        "Часов / Ставка": 0,
                        "1-нояб.": "",
                        "2-нояб.": "",
                        "3-нояб.": "",
                        "4-нояб.": "",
                        "5-нояб.": "",
                        "6-нояб.": "",
                        "7-нояб.": "",
                        "8-нояб.": "",
                        "9-нояб.": "",
                        "10-нояб.": "",
                        "11-нояб.": "",
                        "12-нояб.": "",
                        "13-нояб.": "",
                        "14-нояб.": "",
                        "15-нояб.": "",
                        "16-нояб.": "",
                        "17-нояб.": "",
                        "18-нояб.": "",
                        "19-нояб.": "",
                        "20-нояб.": "",
                        "21-нояб.": "",
                        "22-нояб.": "",
                        "23-нояб.": "",
                        "24-нояб.": "",
                        "25-нояб.": "",
                        "26-нояб.": "",
                        "27-нояб.": "",
                        "28-нояб.": "",
                        "29-нояб.": "",
                        "30-нояб.": "",
                        "1-дек.": "",
                        "2-дек.": "",
                        "3-дек.": "",
                        "4-дек.": "",
                        "5-дек.": "",
                        "6-дек.": "",
                        "7-дек.": "",
                        "Расчет\n(пред мес)": "",
                        "Отраб. час / выпл. аванс": 0
                      },
                      "pairedItem": {
                        "item": 0
                      }
                    },
                    {
                      "json": {
                        "row_number": 16,
                        "№": "",
                        "Статус": "",
                        "ФИО": "",
                        "Телефон / карта": "",
                        "client_id / comments": "",
                        "Паспорт / ИНН": "",
                        "tags": "",
                        "СБП Телефон": "",
                        "СБП Банк": "",
                        "СБП Получатель": "",
                        "Нач / обед": "",
                        "Окон": "",
                        "Пер": "",
                        "Часов / Ставка": "",
                        "1-нояб.": "",
                        "2-нояб.": "",
                        "3-нояб.": "",
                        "4-нояб.": "",
                        "5-нояб.": "",
                        "6-нояб.": "",
                        "7-нояб.": "",
                        "8-нояб.": "",
                        "9-нояб.": "",
                        "10-нояб.": "",
                        "11-нояб.": "",
                        "12-нояб.": "",
                        "13-нояб.": "",
                        "14-нояб.": "",
                        "15-нояб.": "",
                        "16-нояб.": "",
                        "17-нояб.": "",
                        "18-нояб.": "",
                        "19-нояб.": "",
                        "20-нояб.": "",
                        "21-нояб.": "",
                        "22-нояб.": "",
                        "23-нояб.": "",
                        "24-нояб.": "",
                        "25-нояб.": "",
                        "26-нояб.": "",
                        "27-нояб.": "",
                        "28-нояб.": "",
                        "29-нояб.": "",
                        "30-нояб.": "",
                        "1-дек.": "",
                        "2-дек.": "",
                        "3-дек.": "",
                        "4-дек.": "",
                        "5-дек.": "",
                        "6-дек.": "",
                        "7-дек.": "",
                        "Расчет\n(пред мес)": "",
                        "Отраб. час / выпл. аванс": 0,
                        "ИТОГО к оплате": 0,
                        "Деп накоп прош мес дата / руб": "",
                        "Депозит тек мес дата / руб": "",
                        "Деп списан тек мес дата / руб": "",
                        "Деп выпл тек мес дата / руб": "",
                        "ВнеРеализ, руб": 0
                      },
                      "pairedItem": {
                        "item": 0
                      }
                    },
                    {
                      "json": {
                        "row_number": 17,
                        "№": "",
                        "Статус": "",
                        "ФИО": "",
                        "Телефон / карта": "",
                        "client_id / comments": "",
                        "Паспорт / ИНН": "",
                        "tags": "",
                        "СБП Телефон": "",
                        "СБП Банк": "",
                        "СБП Получатель": "",
                        "Нач / обед": "",
                        "Окон": "",
                        "Пер": "",
                        "Часов / Ставка": 0,
                        "1-нояб.": "",
                        "2-нояб.": "",
                        "3-нояб.": "",
                        "4-нояб.": "",
                        "5-нояб.": "",
                        "6-нояб.": "",
                        "7-нояб.": "",
                        "8-нояб.": "",
                        "9-нояб.": "",
                        "10-нояб.": "",
                        "11-нояб.": "",
                        "12-нояб.": "",
                        "13-нояб.": "",
                        "14-нояб.": "",
                        "15-нояб.": "",
                        "16-нояб.": "",
                        "17-нояб.": "",
                        "18-нояб.": "",
                        "19-нояб.": "",
                        "20-нояб.": "",
                        "21-нояб.": "",
                        "22-нояб.": "",
                        "23-нояб.": "",
                        "24-нояб.": "",
                        "25-нояб.": "",
                        "26-нояб.": "",
                        "27-нояб.": "",
                        "28-нояб.": "",
                        "29-нояб.": "",
                        "30-нояб.": "",
                        "1-дек.": "",
                        "2-дек.": "",
                        "3-дек.": "",
                        "4-дек.": "",
                        "5-дек.": "",
                        "6-дек.": "",
                        "7-дек.": "",
                        "Расчет\n(пред мес)": "",
                        "Отраб. час / выпл. аванс": 0
                      },
                      "pairedItem": {
                        "item": 0
                      }
                    },
                    {
                      "json": {
                        "row_number": 18,
                        "№": "",
                        "Статус": "",
                        "ФИО": "",
                        "Телефон / карта": "",
                        "client_id / comments": "",
                        "Паспорт / ИНН": "",
                        "tags": "",
                        "СБП Телефон": "",
                        "СБП Банк": "",
                        "СБП Получатель": "",
                        "Нач / обед": "",
                        "Окон": "",
                        "Пер": "",
                        "Часов / Ставка": "",
                        "1-нояб.": "",
                        "2-нояб.": "",
                        "3-нояб.": "",
                        "4-нояб.": "",
                        "5-нояб.": "",
                        "6-нояб.": "",
                        "7-нояб.": "",
                        "8-нояб.": "",
                        "9-нояб.": "",
                        "10-нояб.": "",
                        "11-нояб.": "",
                        "12-нояб.": "",
                        "13-нояб.": "",
                        "14-нояб.": "",
                        "15-нояб.": "",
                        "16-нояб.": "",
                        "17-нояб.": "",
                        "18-нояб.": "",
                        "19-нояб.": "",
                        "20-нояб.": "",
                        "21-нояб.": "",
                        "22-нояб.": "",
                        "23-нояб.": "",
                        "24-нояб.": "",
                        "25-нояб.": "",
                        "26-нояб.": "",
                        "27-нояб.": "",
                        "28-нояб.": "",
                        "29-нояб.": "",
                        "30-нояб.": "",
                        "1-дек.": "",
                        "2-дек.": "",
                        "3-дек.": "",
                        "4-дек.": "",
                        "5-дек.": "",
                        "6-дек.": "",
                        "7-дек.": "",
                        "Расчет\n(пред мес)": "",
                        "Отраб. час / выпл. аванс": 0,
                        "ИТОГО к оплате": 0,
                        "Деп накоп прош мес дата / руб": "",
                        "Депозит тек мес дата / руб": "",
                        "Деп списан тек мес дата / руб": "",
                        "Деп выпл тек мес дата / руб": "",
                        "ВнеРеализ, руб": 0
                      },
                      "pairedItem": {
                        "item": 0
                      }
                    },
                    {
                      "json": {
                        "row_number": 19,
                        "№": "",
                        "Статус": "",
                        "ФИО": "",
                        "Телефон / карта": "",
                        "client_id / comments": "",
                        "Паспорт / ИНН": "",
                        "tags": "",
                        "СБП Телефон": "",
                        "СБП Банк": "",
                        "СБП Получатель": "",
                        "Нач / обед": "",
                        "Окон": "",
                        "Пер": "",
                        "Часов / Ставка": 0,
                        "1-нояб.": "",
                        "2-нояб.": "",
                        "3-нояб.": "",
                        "4-нояб.": "",
                        "5-нояб.": "",
                        "6-нояб.": "",
                        "7-нояб.": "",
                        "8-нояб.": "",
                        "9-нояб.": "",
                        "10-нояб.": "",
                        "11-нояб.": "",
                        "12-нояб.": "",
                        "13-нояб.": "",
                        "14-нояб.": "",
                        "15-нояб.": "",
                        "16-нояб.": "",
                        "17-нояб.": "",
                        "18-нояб.": "",
                        "19-нояб.": "",
                        "20-нояб.": "",
                        "21-нояб.": "",
                        "22-нояб.": "",
                        "23-нояб.": "",
                        "24-нояб.": "",
                        "25-нояб.": "",
                        "26-нояб.": "",
                        "27-нояб.": "",
                        "28-нояб.": "",
                        "29-нояб.": "",
                        "30-нояб.": "",
                        "1-дек.": "",
                        "2-дек.": "",
                        "3-дек.": "",
                        "4-дек.": "",
                        "5-дек.": "",
                        "6-дек.": "",
                        "7-дек.": "",
                        "Расчет\n(пред мес)": "",
                        "Отраб. час / выпл. аванс": 0
                      },
                      "pairedItem": {
                        "item": 0
                      }
                    },
                    {
                      "json": {
                        "row_number": 20,
                        "№": "",
                        "Статус": "",
                        "ФИО": "",
                        "Телефон / карта": "",
                        "client_id / comments": "",
                        "Паспорт / ИНН": "",
                        "tags": "",
                        "СБП Телефон": "",
                        "СБП Банк": "",
                        "СБП Получатель": "",
                        "Нач / обед": "",
                        "Окон": "",
                        "Пер": "",
                        "Часов / Ставка": "",
                        "1-нояб.": "",
                        "2-нояб.": "",
                        "3-нояб.": "",
                        "4-нояб.": "",
                        "5-нояб.": "",
                        "6-нояб.": "",
                        "7-нояб.": "",
                        "8-нояб.": "",
                        "9-нояб.": "",
                        "10-нояб.": "",
                        "11-нояб.": "",
                        "12-нояб.": "",
                        "13-нояб.": "",
                        "14-нояб.": "",
                        "15-нояб.": "",
                        "16-нояб.": "",
                        "17-нояб.": "",
                        "18-нояб.": "",
                        "19-нояб.": "",
                        "20-нояб.": "",
                        "21-нояб.": "",
                        "22-нояб.": "",
                        "23-нояб.": "",
                        "24-нояб.": "",
                        "25-нояб.": "",
                        "26-нояб.": "",
                        "27-нояб.": "",
                        "28-нояб.": "",
                        "29-нояб.": "",
                        "30-нояб.": "",
                        "1-дек.": "",
                        "2-дек.": "",
                        "3-дек.": "",
                        "4-дек.": "",
                        "5-дек.": "",
                        "6-дек.": "",
                        "7-дек.": "",
                        "Расчет\n(пред мес)": "",
                        "Отраб. час / выпл. аванс": 0,
                        "ИТОГО к оплате": 0,
                        "Деп накоп прош мес дата / руб": "",
                        "Депозит тек мес дата / руб": "",
                        "Деп списан тек мес дата / руб": "",
                        "Деп выпл тек мес дата / руб": "",
                        "ВнеРеализ, руб": 0
                      },
                      "pairedItem": {
                        "item": 0
                      }
                    },
                    {
                      "json": {
                        "row_number": 21,
                        "№": 4,
                        "Статус": "бан",
                        "ФИО": "Уролов Рустам Холмирзаевич",
                        "Телефон / карта": 79998604640,
                        "client_id / comments": 831344780,
                        "Паспорт / ИНН": "FA1370621",
                        "tags": "Комлпектовщик Ночь",
                        "СБП Телефон": "",
                        "СБП Банк": "",
                        "СБП Получатель": "",
                        "Нач / обед": "21:00",
                        "Окон": "09:00",
                        "Пер": 1,
                        "Часов / Ставка": 11,
                        "1-нояб.": "",
                        "2-нояб.": "",
                        "3-нояб.": "",
                        "4-нояб.": "",
                        "5-нояб.": "",
                        "6-нояб.": "",
                        "7-нояб.": "",
                        "8-нояб.": "",
                        "9-нояб.": "",
                        "10-нояб.": "",
                        "11-нояб.": "",
                        "12-нояб.": "",
                        "13-нояб.": 11,
                        "14-нояб.": "Невых!",
                        "15-нояб.": "Отказ",
                        "16-нояб.": "БАН!",
                        "17-нояб.": "",
                        "18-нояб.": "",
                        "19-нояб.": "",
                        "20-нояб.": "",
                        "21-нояб.": "",
                        "22-нояб.": "",
                        "23-нояб.": "",
                        "24-нояб.": "",
                        "25-нояб.": "",
                        "26-нояб.": "",
                        "27-нояб.": "",
                        "28-нояб.": "",
                        "29-нояб.": "",
                        "30-нояб.": "",
                        "1-дек.": "",
                        "2-дек.": "",
                        "3-дек.": "",
                        "4-дек.": "",
                        "5-дек.": "",
                        "6-дек.": "",
                        "7-дек.": "",
                        "Расчет\n(пред мес)": "",
                        "Отраб. час / выпл. аванс": 11,
                        "ИТОГО к оплате": "Сл"
                      },
                      "pairedItem": {
                        "item": 0
                      }
                    },
                    {
                      "json": {
                        "row_number": 22,
                        "№": 4,
                        "Статус": "",
                        "ФИО": "",
                        "Телефон / карта": "Тбанк",
                        "client_id / comments": "",
                        "Паспорт / ИНН": "Узбек",
                        "tags": "29",
                        "СБП Телефон": "",
                        "СБП Банк": "",
                        "СБП Получатель": "",
                        "Нач / обед": "",
                        "Окон": "",
                        "Пер": "",
                        "Часов / Ставка": 4400,
                        "1-нояб.": "",
                        "2-нояб.": "",
                        "3-нояб.": "",
                        "4-нояб.": "",
                        "5-нояб.": "",
                        "6-нояб.": "",
                        "7-нояб.": "",
                        "8-нояб.": "",
                        "9-нояб.": "",
                        "10-нояб.": "",
                        "11-нояб.": "",
                        "12-нояб.": "",
                        "13-нояб.": "",
                        "14-нояб.": 4400,
                        "15-нояб.": -4400,
                        "16-нояб.": "",
                        "17-нояб.": "",
                        "18-нояб.": "",
                        "19-нояб.": "",
                        "20-нояб.": "",
                        "21-нояб.": "",
                        "22-нояб.": "",
                        "23-нояб.": "",
                        "24-нояб.": "",
                        "25-нояб.": "",
                        "26-нояб.": "",
                        "27-нояб.": "",
                        "28-нояб.": "",
                        "29-нояб.": "",
                        "30-нояб.": "",
                        "1-дек.": "",
                        "2-дек.": "",
                        "3-дек.": "",
                        "4-дек.": "",
                        "5-дек.": "",
                        "6-дек.": "",
                        "7-дек.": "",
                        "Расчет\n(пред мес)": "",
                        "Отраб. час / выпл. аванс": 4400,
                        "ИТОГО к оплате": -4400,
                        "Деп накоп прош мес дата / руб": "",
                        "Депозит тек мес дата / руб": "",
                        "Деп списан тек мес дата / руб": "",
                        "Деп выпл тек мес дата / руб": "",
                        "ВнеРеализ, руб": 4400
                      },
                      "pairedItem": {
                        "item": 0
                      }
                    },
                    {
                      "json": {
                        "row_number": 23,
                        "№": 5,
                        "Статус": "бан",
                        "ФИО": "Голубев Олег Сергеевич",
                        "Телефон / карта": 79637576926,
                        "client_id / comments": 818263171,
                        "Паспорт / ИНН": "4216 016432",
                        "tags": "Грузчик Ночь",
                        "СБП Телефон": "",
                        "СБП Банк": "",
                        "СБП Получатель": "",
                        "Нач / обед": "21:00",
                        "Окон": "09:00",
                        "Пер": 1,
                        "Часов / Ставка": 11,
                        "1-нояб.": 11,
                        "2-нояб.": 11,
                        "3-нояб.": "В*",
                        "4-нояб.": 11,
                        "5-нояб.": 11,
                        "6-нояб.": 10,
                        "7-нояб.": 11,
                        "8-нояб.": 11,
                        "9-нояб.": 11,
                        "10-нояб.": "В*",
                        "11-нояб.": "Невых!",
                        "12-нояб.": "Невых!",
                        "13-нояб.": "Невых!",
                        "14-нояб.": "БАН!",
                        "15-нояб.": "снят",
                        "16-нояб.": "снят",
                        "17-нояб.": "",
                        "18-нояб.": "",
                        "19-нояб.": "",
                        "20-нояб.": "",
                        "21-нояб.": "",
                        "22-нояб.": "",
                        "23-нояб.": "",
                        "24-нояб.": "",
                        "25-нояб.": "",
                        "26-нояб.": "",
                        "27-нояб.": "",
                        "28-нояб.": "",
                        "29-нояб.": "",
                        "30-нояб.": "",
                        "1-дек.": "",
                        "2-дек.": "",
                        "3-дек.": "",
                        "4-дек.": "",
                        "5-дек.": "",
                        "6-дек.": "",
                        "7-дек.": "",
                        "Расчет\n(пред мес)": "",
                        "Отраб. час / выпл. аванс": 87,
                        "ИТОГО к оплате": "Вт"
                      },
                      "pairedItem": {
                        "item": 0
                      }
                    },
                    {
                      "json": {
                        "row_number": 24,
                        "№": 5,
                        "Статус": "",
                        "ФИО": "",
                        "Телефон / карта": "8 915 232 40 62 Сбер Ирина Валерьевна М.",
                        "client_id / comments": "",
                        "Паспорт / ИНН": "",
                        "tags": "",
                        "СБП Телефон": "",
                        "СБП Банк": "",
                        "СБП Получатель": "",
                        "Нач / обед": "",
                        "Окон": "",
                        "Пер": "",
                        "Часов / Ставка": 4600,
                        "1-нояб.": "",
                        "2-нояб.": 4600,
                        "3-нояб.": 4600,
                        "4-нояб.": "",
                        "5-нояб.": 4600,
                        "6-нояб.": "",
                        "7-нояб.": "",
                        "8-нояб.": "",
                        "9-нояб.": "",
                        "10-нояб.": "",
                        "11-нояб.": 15000,
                        "12-нояб.": 7582,
                        "13-нояб.": "",
                        "14-нояб.": "",
                        "15-нояб.": "",
                        "16-нояб.": "",
                        "17-нояб.": "",
                        "18-нояб.": "",
                        "19-нояб.": "",
                        "20-нояб.": "",
                        "21-нояб.": "",
                        "22-нояб.": "",
                        "23-нояб.": "",
                        "24-нояб.": "",
                        "25-нояб.": "",
                        "26-нояб.": "",
                        "27-нояб.": "",
                        "28-нояб.": "",
                        "29-нояб.": "",
                        "30-нояб.": "",
                        "1-дек.": "",
                        "2-дек.": "",
                        "3-дек.": "",
                        "4-дек.": "",
                        "5-дек.": "",
                        "6-дек.": "",
                        "7-дек.": "",
                        "Расчет\n(пред мес)": "",
                        "Отраб. час / выпл. аванс": 36382,
                        "ИТОГО к оплате": -0.18181818181619747,
                        "Деп накоп прош мес дата / руб": "",
                        "Депозит тек мес дата / руб": "",
                        "Деп списан тек мес дата / руб": "",
                        "Деп выпл тек мес дата / руб": "",
                        "ВнеРеализ, руб": 0
                      },
                      "pairedItem": {
                        "item": 0
                      }
                    },
                    {
                      "json": {
                        "row_number": 25,
                        "№": "",
                        "Статус": "",
                        "ФИО": "Итого отработано часов",
                        "Телефон / карта": "",
                        "client_id / comments": "",
                        "Паспорт / ИНН": "",
                        "tags": "",
                        "СБП Телефон": "",
                        "СБП Банк": "",
                        "СБП Получатель": "",
                        "Нач / обед": "",
                        "Окон": "",
                        "Пер": "",
                        "Часов / Ставка": "",
                        "1-нояб.": 44,
                        "2-нояб.": 33,
                        "3-нояб.": 33,
                        "4-нояб.": 44,
                        "5-нояб.": 44,
                        "6-нояб.": 42,
                        "7-нояб.": 44,
                        "8-нояб.": 44,
                        "9-нояб.": 33,
                        "10-нояб.": 33,
                        "11-нояб.": 33,
                        "12-нояб.": 22,
                        "13-нояб.": 44,
                        "14-нояб.": 33,
                        "15-нояб.": 33,
                        "16-нояб.": 22,
                        "17-нояб.": 0,
                        "18-нояб.": 0,
                        "19-нояб.": 0,
                        "20-нояб.": 0,
                        "21-нояб.": 0,
                        "22-нояб.": 0,
                        "23-нояб.": 0,
                        "24-нояб.": 0,
                        "25-нояб.": 0,
                        "26-нояб.": 0,
                        "27-нояб.": 0,
                        "28-нояб.": 0,
                        "29-нояб.": 0,
                        "30-нояб.": 0,
                        "1-дек.": "",
                        "2-дек.": "",
                        "3-дек.": "",
                        "4-дек.": "",
                        "5-дек.": "",
                        "6-дек.": "",
                        "7-дек.": "",
                        "Расчет\n(пред мес)": "",
                        "Отраб. час / выпл. аванс": 581
                      },
                      "pairedItem": {
                        "item": 0
                      }
                    },
                    {
                      "json": {
                        "row_number": 26,
                        "№": "",
                        "Статус": "",
                        "ФИО": "Итого выплачено авансов, руб",
                        "Телефон / карта": "",
                        "client_id / comments": "",
                        "Паспорт / ИНН": "",
                        "tags": "",
                        "СБП Телефон": "",
                        "СБП Банк": "",
                        "СБП Получатель": "",
                        "Нач / обед": "",
                        "Окон": "",
                        "Пер": "",
                        "Часов / Ставка": "",
                        "1-нояб.": 0,
                        "2-нояб.": 4600,
                        "3-нояб.": 4600,
                        "4-нояб.": 0,
                        "5-нояб.": 23200,
                        "6-нояб.": 4400,
                        "7-нояб.": 0,
                        "8-нояб.": 0,
                        "9-нояб.": 0,
                        "10-нояб.": 0,
                        "11-нояб.": 60000,
                        "12-нояб.": 49764,
                        "13-нояб.": 4400,
                        "14-нояб.": 4400,
                        "15-нояб.": 0,
                        "16-нояб.": 0,
                        "17-нояб.": 0,
                        "18-нояб.": 45000,
                        "19-нояб.": 40200,
                        "20-нояб.": 2200,
                        "21-нояб.": 0,
                        "22-нояб.": 0,
                        "23-нояб.": 0,
                        "24-нояб.": 0,
                        "25-нояб.": 0,
                        "26-нояб.": 0,
                        "27-нояб.": 0,
                        "28-нояб.": 0,
                        "29-нояб.": 0,
                        "30-нояб.": 0,
                        "1-дек.": "",
                        "2-дек.": "",
                        "3-дек.": "",
                        "4-дек.": "",
                        "5-дек.": "",
                        "6-дек.": "",
                        "7-дек.": "",
                        "Расчет\n(пред мес)": 0,
                        "Отраб. час / выпл. аванс": 242764,
                        "ИТОГО к оплате": 0,
                        "Деп накоп прош мес дата / руб": 0,
                        "Депозит тек мес дата / руб": 0,
                        "Деп списан тек мес дата / руб": 0,
                        "Деп выпл тек мес дата / руб": 0,
                        "ВнеРеализ, руб": 4400
                      },
                      "pairedItem": {
                        "item": 0
                      }
                    },
                    {
                      "json": {
                        "row_number": 27,
                        "№": "",
                        "Статус": "",
                        "ФИО": "Вывод,чел",
                        "Телефон / карта": "",
                        "client_id / comments": "",
                        "Паспорт / ИНН": "",
                        "tags": "",
                        "СБП Телефон": "",
                        "СБП Банк": "",
                        "СБП Получатель": "",
                        "Нач / обед": "",
                        "Окон": "",
                        "Пер": "",
                        "Часов / Ставка": "",
                        "1-нояб.": 4,
                        "2-нояб.": 3,
                        "3-нояб.": 3,
                        "4-нояб.": 4,
                        "5-нояб.": 4,
                        "6-нояб.": 4,
                        "7-нояб.": 4,
                        "8-нояб.": 4,
                        "9-нояб.": 3,
                        "10-нояб.": 3,
                        "11-нояб.": 3,
                        "12-нояб.": 2,
                        "13-нояб.": 4,
                        "14-нояб.": 3,
                        "15-нояб.": 3,
                        "16-нояб.": 2,
                        "17-нояб.": 0,
                        "18-нояб.": 0,
                        "19-нояб.": 0,
                        "20-нояб.": 0,
                        "21-нояб.": 0,
                        "22-нояб.": 0,
                        "23-нояб.": 0,
                        "24-нояб.": 0,
                        "25-нояб.": 0,
                        "26-нояб.": 0,
                        "27-нояб.": 0,
                        "28-нояб.": 0,
                        "29-нояб.": 0,
                        "30-нояб.": 0,
                        "1-дек.": "",
                        "2-дек.": "",
                        "3-дек.": "",
                        "4-дек.": "",
                        "5-дек.": "",
                        "6-дек.": "",
                        "7-дек.": "",
                        "Расчет\n(пред мес)": "",
                        "Отраб. час / выпл. аванс": 3.3125
                      },
                      "pairedItem": {
                        "item": 0
                      }
                    }
                  ]
                ]
              }
            }
          ],
          "Prepare & Find Slot": [
            {
              "startTime": 1763822792679,
              "executionIndex": 6,
              "source": [
                {
                  "previousNode": "Read Timesheet"
                }
              ],
              "hints": [],
              "executionTime": 22,
              "executionStatus": "success",
              "data": {
                "main": [
                  [
                    {
                      "json": {
                        "action": "insert",
                        "message": "Свободное место найдено, используем блок c первой строкой 9",
                        "input": {
                          "client_id": "833573536",
                          "full_name": "PROC - Добавить исполнителя",
                          "phone": "79957804464",
                          "labels": "3: Паспорт, 5: 5-2, 4: Узбек, 2: Муж, 2: 25-44, 1: _ПРОД Склад"
                        },
                        "timesheetId": "1OQZo-n54wMhKzSM7LB4UYJSQSBJMzbc-BhbJMh1X2Ws",
                        "currentMonthSheet": "нояб_25",
                        "rowNumber": "9",
                        "ФИО": "PROC - Добавить исполнителя",
                        "Телефон / карта": "79957804464",
                        "client_id / comments": "833573536",
                        "tags": "3: Паспорт, 5: 5-2, 4: Узбек, 2: Муж, 2: 25-44, 1: _ПРОД Склад"
                      }
                    }
                  ]
                ]
              }
            }
          ],
          "Switch": [
            {
              "startTime": 1763822792701,
              "executionIndex": 7,
              "source": [
                {
                  "previousNode": "Prepare & Find Slot"
                }
              ],
              "hints": [],
              "executionTime": 2,
              "executionStatus": "success",
              "data": {
                "main": [
                  [
                    {
                      "json": {
                        "action": "insert",
                        "message": "Свободное место найдено, используем блок c первой строкой 9",
                        "input": {
                          "client_id": "833573536",
                          "full_name": "PROC - Добавить исполнителя",
                          "phone": "79957804464",
                          "labels": "3: Паспорт, 5: 5-2, 4: Узбек, 2: Муж, 2: 25-44, 1: _ПРОД Склад"
                        },
                        "timesheetId": "1OQZo-n54wMhKzSM7LB4UYJSQSBJMzbc-BhbJMh1X2Ws",
                        "currentMonthSheet": "нояб_25",
                        "rowNumber": "9",
                        "ФИО": "PROC - Добавить исполнителя",
                        "Телефон / карта": "79957804464",
                        "client_id / comments": "833573536",
                        "tags": "3: Паспорт, 5: 5-2, 4: Узбек, 2: Муж, 2: 25-44, 1: _ПРОД Склад"
                      },
                      "pairedItem": {
                        "item": 0
                      }
                    }
                  ],
                  []
                ]
              }
            }
          ],
          "Upsert Worker Row": [
            {
              "startTime": 1763822792703,
              "executionIndex": 8,
              "source": [
                {
                  "previousNode": "Switch"
                }
              ],
              "hints": [],
              "executionTime": 3250,
              "executionStatus": "success",
              "data": {
                "main": [
                  [
                    {
                      "json": {
                        "row_number": 9,
                        "client_id / comments": "833573536",
                        "ФИО": "PROC - Добавить исполнителя",
                        "Телефон / карта": "79957804464",
                        "tags": "3: Паспорт, 5: 5-2, 4: Узбек, 2: Муж, 2: 25-44, 1: _ПРОД Склад"
                      },
                      "pairedItem": {
                        "item": 0
                      }
                    }
                  ]
                ]
              }
            }
          ],
          "Result": [
            {
              "startTime": 1763822795954,
              "executionIndex": 9,
              "source": [
                {
                  "previousNode": "Upsert Worker Row"
                }
              ],
              "hints": [],
              "executionTime": 6,
              "executionStatus": "success",
              "data": {
                "main": [
                  [
                    {
                      "json": {
                        "action": null,
                        "message": null,
                        "rowNumber": "9",
                        "full_name": "PROC - Добавить исполнителя",
                        "phone": "79957804464",
                        "client_id": "833573536",
                        "tags": "3: Паспорт, 5: 5-2, 4: Узбек, 2: Муж, 2: 25-44, 1: _ПРОД Склад"
                      },
                      "pairedItem": {
                        "item": 0
                      }
                    }
                  ]
                ]
              }
            }
          ]
        },
        "lastNodeExecuted": "Result"
      },
      "executionData": {
        "contextData": {},
        "nodeExecutionStack": [],
        "waitingExecution": {}
      }
    },
    "workflowData": {
      "id": "cQDIr8xcpJO5Dluj",
      "name": "worker.gs.add",
      "active": true,
      "isArchived": false,
      "createdAt": "2025-11-16T09:39:59.715Z",
      "updatedAt": "2025-11-22T13:34:00.428Z",
      "nodes": [
        {
          "parameters": {
            "multipleMethods": false,
            "httpMethod": "POST",
            "path": "worker/gs/add",
            "authentication": "headerAuth",
            "responseMode": "lastNode",
            "responseData": "firstEntryJson",
            "options": {}
          },
          "id": "fb9add65-09c1-4810-a023-3ae686d1a091",
          "name": "Webhook Trigger",
          "type": "n8n-nodes-base.webhook",
          "typeVersion": 2.1,
          "position": [
            -16,
            704
          ],
          "webhookId": "7ac1cf39-d155-4dcb-9522-e0ec756c0538",
          "credentials": {
            "httpHeaderAuth": {
              "id": "ilYOM2GRapefQZlh",
              "name": "Header Auth account"
            }
          }
        },
        {
          "parameters": {
            "mode": "manual",
            "duplicateItem": false,
            "assignments": {
              "assignments": [
                {
                  "id": "id-1",
                  "name": "spreadsheetId",
                  "value": "1yYSPC2JVTV5a6Byoz8lO4GsrD-Nk6i8PCF68hn_7f4I",
                  "type": "string"
                },
                {
                  "id": "id-2",
                  "name": "referenceSheetName",
                  "value": "Справочники",
                  "type": "string"
                },
                {
                  "id": "id-3",
                  "name": "monthSheetNames",
                  "value": "{\"0\":\"янв_25\",\"1\":\"фев_25\",\"2\":\"мар_25\",\"3\":\"апр_25\",\"4\":\"май_25\",\"5\":\"июнь_25\",\"6\":\"июль_25\",\"7\":\"авг_25\",\"8\":\"сен_25\",\"9\":\"окт_25\",\"10\":\"нояб_25\",\"11\":\"дек_25\"}",
                  "type": "object"
                },
                {
                  "id": "id-4",
                  "name": "workerFioColumnName",
                  "value": "ФИО",
                  "type": "string"
                },
                {
                  "id": "id-5",
                  "name": "workerClientColumnName",
                  "value": "client_id / comments",
                  "type": "string"
                },
                {
                  "id": "id-6",
                  "name": "workerPhoneColumnName",
                  "value": "Телефон / карта",
                  "type": "string"
                },
                {
                  "id": "id-7",
                  "name": "workerTagsColumnName",
                  "value": "tags",
                  "type": "string"
                },
                {
                  "id": "id-8",
                  "name": "workerBlockSize",
                  "value": 2,
                  "type": "number"
                },
                {
                  "id": "id-9",
                  "name": "workerFirstDataRow",
                  "value": 3,
                  "type": "number"
                }
              ]
            },
            "includeOtherFields": true,
            "include": "all",
            "options": {}
          },
          "id": "d250e355-acab-4605-8792-c2e554f84335",
          "name": "Workflow Configuration",
          "type": "n8n-nodes-base.set",
          "typeVersion": 3.4,
          "position": [
            208,
            704
          ]
        },
        {
          "parameters": {
            "preBuiltAgentsCalloutGoogleSheets": "",
            "authentication": "serviceAccount",
            "resource": "sheet",
            "operation": "read",
            "documentId": {
              "__rl": true,
              "mode": "id",
              "value": "={{ $('Workflow Configuration').first().json.spreadsheetId }}"
            },
            "sheetName": {
              "__rl": true,
              "value": "={{ $('Workflow Configuration').first().json.referenceSheetName }}",
              "mode": "name"
            },
            "filtersUI": {},
            "combineFilters": "AND",
            "options": {}
          },
          "id": "f95c0d8e-d9c2-4eec-ae7d-84659afe34d2",
          "name": "Get Projects from Справочники",
          "type": "n8n-nodes-base.googleSheets",
          "typeVersion": 4.7,
          "position": [
            432,
            704
          ],
          "credentials": {
            "googleApi": {
              "id": "4rPLRzUxumedlI2t",
              "name": "Google Service Account account"
            }
          }
        },
        {
          "parameters": {
            "mode": "runOnceForAllItems",
            "language": "javaScript",
            "jsCode": "// Get webhook data from Workflow Configuration node (which passes through webhook data)\nconst webhookData = $('Workflow Configuration').first().json;\n\n// Check if webhook body exists (workflow triggered by webhook, not manual trigger)\nif (!webhookData.body) {\n  // No webhook data - return empty array to stop execution gracefully\n  return [];\n}\n\n// Get reference sheet data from 'Get Projects from Справочники' node\nconst referenceData = $('Get Projects from Справочники').all();\n\n// Create a map of project names to timesheet IDs from reference data\n// Column 'Проекты' maps to 'Табель' column\nconst projectToTimesheetMap = {};\nfor (const item of referenceData) {\n  const projectName = item.json['Проекты'];\n  const timesheetId = item.json['Табель'];\n  if (projectName && timesheetId) {\n    projectToTimesheetMap[projectName] = timesheetId;\n  }\n}\n\n// Extract worker data from body\nconst clientId = webhookData.body.client_id;\nconst fullName = webhookData.body.full_name;\nconst phone = webhookData.body.phone;\nconst labels = webhookData.body.labels || {};\n\n// Выбираем ОДНУ метку: ту, у которой максимальный numeric-ключ среди тех,\n// для кого найден timesheetId в справочнике.\nlet bestChoice = null;\n\nfor (const labelKey of Object.keys(labels)) {\n  const labelValue = labels[labelKey];\n\n  // Extract project name from label (format: '1: ProjectName')\n  const match = labelValue.match(/^\\d+:\\s*(.+)$/);\n  const projectName = match ? match[1].trim() : labelValue.trim();\n\n  // Find matching timesheet ID from reference sheet\n  const timesheetId = projectToTimesheetMap[projectName];\n  if (!timesheetId) {\n    console.log(`Warning: No timesheet ID found for project: ${projectName}`);\n    continue;\n  }\n\n  const numericKey = Number(labelKey);\n  if (!Number.isFinite(numericKey)) {\n    continue;\n  }\n\n  if (!bestChoice || numericKey > bestChoice.numericKey) {\n    bestChoice = {\n      numericKey,\n      projectName,\n      timesheetId,\n    };\n  }\n}\n\n// Если ни одной подходящей метки с timesheetId не найдено — дальше обрабатывать нечего\nif (!bestChoice) {\n  return [];\n}\n\n// Возвращаем ровно ОДИН item\nreturn [\n  {\n    json: {\n      client_id: clientId,\n      full_name: fullName,\n      phone: phone,\n      labels: Object.values(labels),\n      projectName: bestChoice.projectName,\n      timesheetId: bestChoice.timesheetId,\n    },\n  },\n];\n",
            "notice": ""
          },
          "id": "b09879ce-641e-4be8-8e26-38bbe267be23",
          "name": "Extract Project Names and Match Timesheet IDs",
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            656,
            704
          ]
        },
        {
          "parameters": {
            "mode": "runOnceForEachItem",
            "language": "javaScript",
            "jsCode": "// Get current date\nconst now = new Date();\nconst month = now.getMonth(); // 0-11\n\n// Get month sheet names from Workflow Configuration\nconst config = $('Workflow Configuration').first().json;\n\n// monthSheetNames уже объект, парсить не нужно\nconst monthSheetNames = config.monthSheetNames;\n\n// Get the current month sheet name\nconst currentMonthSheet = monthSheetNames[month.toString()];\n\n// Pass through all data from previous node\nconst inputData = $input.item.json;\n\n// Return all data plus currentMonthSheet field\nreturn {\n  json: {\n    ...inputData,\n    currentMonthSheet,\n  },\n};\n",
            "notice": ""
          },
          "id": "5fbf4c2e-ec8a-4846-bd94-29addbfa138a",
          "name": "Process Each Timesheet",
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            880,
            704
          ]
        },
        {
          "parameters": {
            "preBuiltAgentsCalloutGoogleSheets": "",
            "authentication": "serviceAccount",
            "resource": "sheet",
            "operation": "read",
            "documentId": {
              "__rl": true,
              "mode": "id",
              "value": "={{ $json.timesheetId }}"
            },
            "sheetName": {
              "__rl": true,
              "mode": "name",
              "value": "={{ $json.currentMonthSheet }}"
            },
            "filtersUI": {},
            "combineFilters": "AND",
            "options": {
              "dataLocationOnSheet": {
                "values": {
                  "rangeDefinition": "specifyRange",
                  "headerRow": 2,
                  "firstDataRow": 3
                }
              }
            }
          },
          "id": "92c45503-0954-40d6-87d2-50b5be5e0413",
          "name": "Read Timesheet",
          "type": "n8n-nodes-base.googleSheets",
          "typeVersion": 4.7,
          "position": [
            1104,
            704
          ],
          "credentials": {
            "googleApi": {
              "id": "4rPLRzUxumedlI2t",
              "name": "Google Service Account account"
            }
          }
        },
        {
          "parameters": {
            "mode": "runOnceForAllItems",
            "language": "javaScript",
            "jsCode": "// Читаем конфиг и payload\nconst config = $('Workflow Configuration').first().json;\nconst payload = config.body || {};\n\n// Если по какой-то причине body нет — завершаем\nif (!Object.keys(payload).length) {\n  return [{\n    json: {\n      action: 'error',\n      message: 'Webhook body is empty in Workflow Configuration',\n    },\n  }];\n}\n\n// Входящие строки табеля из предыдущей ноды (Read Timesheet)\nconst sheetRows = $input.all().map(item => item.json);\n\n// Достаём timesheetId и currentMonthSheet из ноды Process Each Timesheet\nconst upstream = $('Process Each Timesheet').first().json || {};\nconst timesheetId = upstream.timesheetId;\nconst currentMonthSheet = upstream.currentMonthSheet;\n\n// Извлекаем данные исполнителя БЕЗ дефолтов\nconst fullName = (payload.full_name ?? '').toString().trim();\nconst phone = (payload.phone ?? '').toString().trim();\nconst clientId = (payload.client_id ?? '').toString().trim();\n\n// labels приходят объектом: { id: \"N: Тег\", ... }\nlet labelsStr = '';\nif (payload.labels && typeof payload.labels === 'object') {\n  const values = Object.values(payload.labels)\n    .map(v => v?.toString().trim())\n    .filter(Boolean);\n  labelsStr = values.join(', ');\n} else if (typeof payload.labels === 'string') {\n  labelsStr = payload.labels.trim();\n}\n\n// Названия колонок и параметры блока берём из Workflow Configuration\nconst fioColumn = config.workerFioColumnName;\nconst clientColumn = config.workerClientColumnName;\nconst phoneColumn = config.workerPhoneColumnName;\nconst tagsColumn = config.workerTagsColumnName;\nconst BLOCK_SIZE = Number(config.workerBlockSize);\nconst firstDataRow = Number(config.workerFirstDataRow);\n\nlet action = '';\nlet rowNumber = null;\nlet message = '';\n\n// Без client_id нет смысла продолжать\nif (!clientId) {\n  action = 'error';\n  message = 'client_id is empty';\n} else {\n  // 1) Проверяем, есть ли такой исполнитель уже в табеле (по client_id / comments)\n  const byClient = new Map();\n  for (const row of sheetRows) {\n    const cid = (row[clientColumn] || '').toString().trim();\n    if (cid) {\n      byClient.set(cid, row);\n    }\n  }\n\n  const existing = byClient.get(clientId);\n\n  if (existing && typeof existing.row_number !== 'undefined') {\n    // Исполнитель уже есть — обновляем первую строку его блока (row_number)\n    action = 'update';\n    rowNumber = Number(existing.row_number);\n    message = 'Исполнитель найден по client_id, обновляем строку ' + rowNumber;\n  } else {\n    // 2) Ищем свободный блок из двух строк\n    const dataRows = sheetRows\n      .filter(r => typeof r.row_number !== 'undefined')\n      .sort((a, b) => Number(a.row_number) - Number(b.row_number));\n\n    let foundStart = null;\n\n    for (const row of dataRows) {\n      const rn = Number(row.row_number);\n      if (!Number.isFinite(rn) || rn < firstDataRow) continue;\n\n      // Верхняя строка блока: смещение от firstDataRow кратно BLOCK_SIZE\n      const indexInBlock = (rn - firstDataRow) % BLOCK_SIZE;\n      if (indexInBlock !== 0) continue;\n\n      const row2 = dataRows.find(r => Number(r.row_number) === rn + 1);\n      if (!row2) continue;\n\n      const fio1 = (row[fioColumn] || '').toString().trim();\n      const fio2 = (row2[fioColumn] || '').toString().trim();\n\n      // Условие свободного места: обе строки блока без ФИО\n      if (!fio1 && !fio2) {\n        foundStart = rn;\n        break;\n      }\n    }\n\n    if (foundStart) {\n      action = 'insert';\n      rowNumber = foundStart;\n      message = 'Свободное место найдено, используем блок c первой строкой ' + rowNumber;\n    } else {\n      action = 'skip';\n      message = 'Свободное место (2 строки подряд без ФИО) не найдено, вставка пропущена';\n    }\n  }\n}\n\nconst result = {\n  action,\n  message,\n  input: {\n    client_id: clientId,\n    full_name: fullName,\n    phone,\n    labels: labelsStr,\n  },\n  timesheetId,\n  currentMonthSheet,\n};\n\n// ВАЖНО: rowNumber наружу всегда как строка, чтобы If-нода / Switch не ругались\nif (rowNumber) {\n  result.rowNumber = rowNumber.toString();\n  result[fioColumn] = fullName;\n  result[phoneColumn] = phone;\n  result[clientColumn] = clientId;\n  result[tagsColumn] = labelsStr;\n}\n\nreturn [{ json: result }];\n",
            "notice": ""
          },
          "id": "8ccbc90e-0894-49c8-af6f-f8c18a3bf1fa",
          "name": "Prepare & Find Slot",
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            1328,
            704
          ]
        },
        {
          "parameters": {
            "mode": "rules",
            "rules": {
              "values": [
                {
                  "conditions": {
                    "options": {
                      "caseSensitive": true,
                      "leftValue": "",
                      "typeValidation": "strict",
                      "version": 2
                    },
                    "conditions": [
                      {
                        "leftValue": "={{ $json.rowNumber }}",
                        "rightValue": "",
                        "operator": {
                          "type": "string",
                          "operation": "notEmpty",
                          "singleValue": true
                        },
                        "id": "178f29bb-6297-4c51-8c75-68222b743399"
                      }
                    ],
                    "combinator": "and"
                  },
                  "renameOutput": false
                },
                {
                  "conditions": {
                    "options": {
                      "caseSensitive": true,
                      "leftValue": "",
                      "typeValidation": "strict",
                      "version": 2
                    },
                    "conditions": [
                      {
                        "id": "577de4f2-fc7b-4f26-b942-a5ba24187f17",
                        "leftValue": "={{ $json.rowNumber }}",
                        "rightValue": "",
                        "operator": {
                          "type": "string",
                          "operation": "empty",
                          "singleValue": true
                        }
                      }
                    ],
                    "combinator": "and"
                  },
                  "renameOutput": false
                }
              ]
            },
            "looseTypeValidation": false,
            "options": {}
          },
          "type": "n8n-nodes-base.switch",
          "typeVersion": 3.3,
          "position": [
            1552,
            704
          ],
          "id": "e3f7fed5-148e-4b96-97a9-42c171ca076e",
          "name": "Switch"
        },
        {
          "parameters": {
            "preBuiltAgentsCalloutGoogleSheets": "",
            "authentication": "serviceAccount",
            "resource": "sheet",
            "operation": "update",
            "documentId": {
              "__rl": true,
              "mode": "id",
              "value": "={{ $json.timesheetId }}"
            },
            "sheetName": {
              "__rl": true,
              "mode": "name",
              "value": "={{ $json.currentMonthSheet }}"
            },
            "columns": {
              "mappingMode": "defineBelow",
              "value": {
                "row_number": "={{ $json.rowNumber }}",
                "client_id / comments": "={{ $json.input.client_id }}",
                "ФИО": "={{ $json.input.full_name }}",
                "Телефон / карта": "={{ $json.input.phone }}",
                "tags": "={{ $json.input.labels }}"
              },
              "matchingColumns": [
                "row_number"
              ],
              "schema": [
                {
                  "id": "№",
                  "displayName": "№",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Статус",
                  "displayName": "Статус",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "ФИО",
                  "displayName": "ФИО",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Телефон / карта",
                  "displayName": "Телефон / карта",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "client_id / comments",
                  "displayName": "client_id / comments",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Паспорт / ИНН",
                  "displayName": "Паспорт / ИНН",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "tags",
                  "displayName": "tags",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "СБП Телефон",
                  "displayName": "СБП Телефон",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "СБП Банк",
                  "displayName": "СБП Банк",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "СБП Получатель",
                  "displayName": "СБП Получатель",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Нач / обед",
                  "displayName": "Нач / обед",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Окон",
                  "displayName": "Окон",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Пер",
                  "displayName": "Пер",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Часов / Ставка",
                  "displayName": "Часов / Ставка",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "1-нояб.",
                  "displayName": "1-нояб.",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "2-нояб.",
                  "displayName": "2-нояб.",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "3-нояб.",
                  "displayName": "3-нояб.",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "4-нояб.",
                  "displayName": "4-нояб.",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "5-нояб.",
                  "displayName": "5-нояб.",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "6-нояб.",
                  "displayName": "6-нояб.",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "7-нояб.",
                  "displayName": "7-нояб.",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "8-нояб.",
                  "displayName": "8-нояб.",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "9-нояб.",
                  "displayName": "9-нояб.",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "10-нояб.",
                  "displayName": "10-нояб.",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "11-нояб.",
                  "displayName": "11-нояб.",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "12-нояб.",
                  "displayName": "12-нояб.",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "13-нояб.",
                  "displayName": "13-нояб.",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "14-нояб.",
                  "displayName": "14-нояб.",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "15-нояб.",
                  "displayName": "15-нояб.",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "16-нояб.",
                  "displayName": "16-нояб.",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "17-нояб.",
                  "displayName": "17-нояб.",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "18-нояб.",
                  "displayName": "18-нояб.",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "19-нояб.",
                  "displayName": "19-нояб.",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "20-нояб.",
                  "displayName": "20-нояб.",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "21-нояб.",
                  "displayName": "21-нояб.",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "22-нояб.",
                  "displayName": "22-нояб.",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "23-нояб.",
                  "displayName": "23-нояб.",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "24-нояб.",
                  "displayName": "24-нояб.",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "25-нояб.",
                  "displayName": "25-нояб.",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "26-нояб.",
                  "displayName": "26-нояб.",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "27-нояб.",
                  "displayName": "27-нояб.",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "28-нояб.",
                  "displayName": "28-нояб.",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "29-нояб.",
                  "displayName": "29-нояб.",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "30-нояб.",
                  "displayName": "30-нояб.",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "1-дек.",
                  "displayName": "1-дек.",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "2-дек.",
                  "displayName": "2-дек.",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "3-дек.",
                  "displayName": "3-дек.",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "4-дек.",
                  "displayName": "4-дек.",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "5-дек.",
                  "displayName": "5-дек.",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "6-дек.",
                  "displayName": "6-дек.",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "7-дек.",
                  "displayName": "7-дек.",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Расчет\n(пред мес)",
                  "displayName": "Расчет\n(пред мес)",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Отраб. час / выпл. аванс",
                  "displayName": "Отраб. час / выпл. аванс",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "ИТОГО к оплате",
                  "displayName": "ИТОГО к оплате",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Деп накоп прош мес дата / руб",
                  "displayName": "Деп накоп прош мес дата / руб",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Депозит тек мес дата / руб",
                  "displayName": "Депозит тек мес дата / руб",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Деп списан тек мес дата / руб",
                  "displayName": "Деп списан тек мес дата / руб",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Деп выпл тек мес дата / руб",
                  "displayName": "Деп выпл тек мес дата / руб",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "ВнеРеализ, руб",
                  "displayName": "ВнеРеализ, руб",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Комментарий",
                  "displayName": "Комментарий",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true
                },
                {
                  "id": "row_number",
                  "displayName": "row_number",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "number",
                  "canBeUsedToMatch": true,
                  "readOnly": true,
                  "removed": false
                }
              ],
              "attemptToConvertTypes": false,
              "convertFieldsToString": false
            },
            "options": {
              "cellFormat": "USER_ENTERED",
              "locationDefine": {
                "values": {
                  "headerRow": 2,
                  "firstDataRow": 3
                }
              }
            }
          },
          "id": "feecbe92-1ec5-4158-b2c5-559e794ed788",
          "name": "Upsert Worker Row",
          "type": "n8n-nodes-base.googleSheets",
          "typeVersion": 4.7,
          "position": [
            1776,
            624
          ],
          "credentials": {
            "googleApi": {
              "id": "4rPLRzUxumedlI2t",
              "name": "Google Service Account account"
            }
          }
        },
        {
          "parameters": {
            "mode": "manual",
            "duplicateItem": false,
            "assignments": {
              "assignments": [
                {
                  "name": "action",
                  "type": "string",
                  "value": "={{ $json.action }}",
                  "id": "1d6923c4-e219-4362-a4aa-10e2f3e9e9e3"
                },
                {
                  "name": "message",
                  "type": "string",
                  "value": "={{ $json.message }}",
                  "id": "de28a7d3-b934-4c3c-a3c7-71317dae7031"
                },
                {
                  "name": "rowNumber",
                  "type": "string",
                  "value": "={{ $json.row_number }}",
                  "id": "25f003e3-5c4a-4de9-8d54-45aceb6f261b"
                },
                {
                  "name": "full_name",
                  "type": "string",
                  "value": "={{ $json[\"ФИО\"] }}",
                  "id": "d05b3ea9-f3bc-4a0c-93b5-2f80786b5760"
                },
                {
                  "name": "phone",
                  "type": "string",
                  "value": "={{ $json[\"Телефон / карта\"] }}",
                  "id": "24188ea1-01a5-4abb-a4b7-1cc187684da7"
                },
                {
                  "name": "client_id",
                  "type": "string",
                  "value": "={{ $json[\"client_id / comments\"] }}",
                  "id": "d29f8199-4840-4576-b69c-0e786c522f66"
                },
                {
                  "name": "tags",
                  "type": "string",
                  "value": "={{ $json.tags }}",
                  "id": "0f2f67d5-b719-41a2-8aa2-6386d420568d"
                }
              ]
            },
            "includeOtherFields": false,
            "options": {}
          },
          "id": "42679842-e50b-41b7-a87e-9fd7fe01cc55",
          "name": "Result",
          "type": "n8n-nodes-base.set",
          "typeVersion": 3.4,
          "position": [
            2000,
            704
          ]
        }
      ],
      "connections": {
        "Webhook Trigger": {
          "main": [
            [
              {
                "node": "Workflow Configuration",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Workflow Configuration": {
          "main": [
            [
              {
                "node": "Get Projects from Справочники",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Get Projects from Справочники": {
          "main": [
            [
              {
                "node": "Extract Project Names and Match Timesheet IDs",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Extract Project Names and Match Timesheet IDs": {
          "main": [
            [
              {
                "node": "Process Each Timesheet",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Process Each Timesheet": {
          "main": [
            [
              {
                "node": "Read Timesheet",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Read Timesheet": {
          "main": [
            [
              {
                "node": "Prepare & Find Slot",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Prepare & Find Slot": {
          "main": [
            [
              {
                "node": "Switch",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Switch": {
          "main": [
            [
              {
                "node": "Upsert Worker Row",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Result",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Upsert Worker Row": {
          "main": [
            [
              {
                "node": "Result",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "settings": {
        "executionOrder": "v1",
        "callerPolicy": "workflowsFromSameOwner",
        "executionTimeout": 300,
        "availableInMCP": false
      },
      "staticData": {},
      "pinData": {
        "Webhook Trigger": [
          {
            "json": {
              "headers": {
                "host": "deer251087q1ep.app.n8n.cloud",
                "user-agent": "python-requests/2.31.0",
                "content-length": "1150",
                "accept": "*/*",
                "accept-encoding": "gzip, br",
                "cdn-loop": "cloudflare; loops=1; subreqs=1",
                "cf-connecting-ip": "62.84.125.172",
                "cf-ew-via": "15",
                "cf-ipcountry": "RU",
                "cf-ray": "9a0964559195f12a-DME",
                "cf-visitor": "{\"scheme\":\"https\"}",
                "cf-worker": "n8n.cloud",
                "content-type": "application/json",
                "x-api-key": "N8N_X_API_TOKEN_22DEE204206BEDE8",
                "x-forwarded-for": "62.84.125.172, 172.71.184.128",
                "x-forwarded-host": "deer251087q1ep.app.n8n.cloud",
                "x-forwarded-port": "443",
                "x-forwarded-proto": "https",
                "x-forwarded-server": "traefik-prod-users-gwc-98-5f74ff6676-dqps5",
                "x-is-trusted": "yes",
                "x-real-ip": "62.84.125.172"
              },
              "params": {},
              "query": {},
              "body": {
                "dt": "worker_gs_add_post_dt",
                "method": "worker.gs.add",
                "client_id": "833573536",
                "full_name": "PROC - Добавить исполнителя",
                "phone": "79957804464",
                "order_id": "833573536-582942145",
                "client_type": "5",
                "group_id": "12334",
                "platform_id": "test_client_online",
                "avito_order_id": "7738113964",
                "avito_order_price": "30004000",
                "avito_order_title": "Грузчик ПРОД склад ЕЖЕДНЕВНО оплата",
                "avito_order_url": "https://avito.ru/123456790",
                "avito_profile": "",
                "labels": {
                  "1037219": "3: Паспорт",
                  "1056095": "5: 5-2",
                  "1082258": "4: Узбек",
                  "1090393": "2: Муж",
                  "1389135": "2: 25-44",
                  "1809147": "1: Холодильник",
                  "1809159": "1: Симпл Внуково"
                },
                "lists": {
                  "1056102": "Апрелевка",
                  "1815825": "Кокошкино"
                }
              },
              "webhookUrl": "https://deer251087q1ep.app.n8n.cloud/webhook-test/salebot-worker",
              "executionMode": "test"
            }
          }
        ]
      }
    },
    "customData": {}
  }
]